	if cat:
		if cat=='company':
			if category:
				df = pd.read_csv("/home/yousuf/Downloads/scalecapacity/text_proj/trucks_loads_2019_small.csv",index_col=0)
				df1 = df[df['callback_companyName']==category][0:10]
				# td=list(df1.groupby('origin_data').count()['callback_userId'].sort_values(ascending=False)[0:5].index)
				df2=df[(df['origin_data'].isin(df1['origin_data'].values.tolist()))]
				df4=df[(df['origin_data'].isin(df1['origin_data'].values.tolist())) & (df['trucks']==1)]
				# td=list(df1.groupby('destination_data').count()['callback_userId'].sort_values(ascending=False)[0:5].index)
				df3=df[(df['destination_data'].isin(df1['destination_data'].values.tolist()))]
				df=pd.concat([df1,df2,df3,df4])
			else:
				df1=dff.head(50)
				df2=dff.tail(50)
				df=pd.concat([df1,df2])
		elif cat=='origin':
			if category:
				df = pd.read_csv("/home/yousuf/Downloads/scalecapacity/text_proj/trucks_loads_2019_small.csv",index_col=0)
				df = df[df['origin_data']==category]
				td=list(df.groupby('travel_data').count()['callback_userId'].sort_values(ascending=False)[0:10].index)
				df=df[df['travel_data'].isin(td)]
			else:
				df1=dff.head(50)
				df2=dff.tail(50)
				df=pd.concat([df1,df2])
		elif cat=='carriers':
			if category:
				df = pd.read_csv("/home/yousuf/Downloads/scalecapacity/text_proj/trucks_loads_2019_small.csv",index_col=0)
				df['trucks']=df['trucks'].astype(int)
				df1 = df[(df['trucks']==1) & (df['callback_companyName']==category)]
				df2=df[(df['origin_data'].isin(df1['origin_data'].values.tolist()))]
				df=pd.concat([df1,df2])
				# td=list(df1.groupby('origin_data').count()['callback_userId'].sort_values(ascending=False)[0:10].index)
				# df=df[(df['origin_data'].isin(td)) | (df['callback_companyName']==category)]
			else:
				df1=dff.head(50)
				df2=dff.tail(50)
				df=pd.concat([df1,df2])
		else:
			if category:
				df = pd.read_csv("/home/yousuf/Downloads/scalecapacity/text_proj/trucks_loads_2019_small.csv",index_col=0)
				df = df[df['destination_data']==category]
				td=list(df.groupby('travel_data').count()['callback_userId'].sort_values(ascending=False)[0:10].index)
				df=df[df['travel_data'].isin(td)]
			else:
				df1=dff.head(50)
				df2=dff.tail(50)
				df=pd.concat([df1,df2])
	else:
		df1=dff.head(50)
		df2=dff.tail(50)
		df=pd.concat([df1,df2])
<form>
<select name="cat" id="cat" onChange="changecat(this.value);">
    <option value="" disabled selected>Select</option>
    <option value="florida">florida</option>
    <option value="california">california</option>
    <option value="illinois">illinois</option>
    <option value="nebraska">nebraska</option>
</select>
<select name="category"  multiple="multiple" size="2" id="category">
    <option value="" disabled selected>Select</option>
</select>
<select name="query_state_city" id="query_state_city">
    <option value="" disabled selected>Select</option>
      {% for items in selected_states %}
      <option value="{{items}}">{{items}}</option>
  {% endfor %}
</select>
<input type="submit" value="OK">
</form>
<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css" type="text/css"/>



















