<html>
<head>
  <title>DAT Data</title>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    #map{ height: 100% }
  </style>
</head>
<body>
  <select id="miles">
        <option value="10">10 Miles</option>
        <option value="25">25 Miles</option>
        <option value="50">50 Miles</option>
        <option value="100">100 Mile</option>
        <option value="150">150 Miles</option>
        <option value="200">200 Miles</option>
        <option value="300">300 Miles</option>
        <option value="500">500 Miles</option>
  </select>
<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
 <div class="row">
  <div class="col"><div id="map" style="height: 908;"></div></div>
  <div class="col">  <div>
<div id="heal">
    <canvas id="myChart"></canvas>
  </div>
<div id="sheild">
    <canvas id="myChart2"></canvas>
  </div>
</div></div>
</div>
</div>


<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
  <div class="row">
  <div class="col-sm-8">  <div>
<select class="browser-default custom-select" name="Select State" id="example-select" onChange="destFunc(this.value);"></select>
<div id="attack">
    <canvas id="myChart4"></canvas>
  </div>
</div></div>
  <div class="col-sm-4"><div id="hurt">
    <br>
    <canvas id="myChart3"></canvas>
  </div></div>
</div>
</div>






  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
 <script src='https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script>

  <script>
 var locations = {{feats|safe}};
  // initialize the map
  var map = L.map('map').setView([41.25861, -95.9375], 13);
 
  // load a tile layer
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 16,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
  accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
}).addTo(map);
    
  map.setZoom(12);
    // var heat = L.heatLayer(locations, { radius: 35 });
    // map.addLayer(heat);

var theMarker;
var theCircle;

var colors = [
  // "#ffffff",
  "#fcff94",
  "#f1a692",
  // "#fabe8c",
  "#e0769e",
  "#9a5caf",
  "#4b4ba5",
  // "#000000",
]
var colorScale2_ = chroma.scale(colors).domain([0, 1]).mode('lab').correctLightness();

var colorScale = function (value) {
  const color = colorScale2_(value);
  return color;
};
function clearMap(){
    for(i in map._layers){
      console.log(map._layers[i]);
        if(map._layers[i]._path != undefined)
        {
            try{
                map.removeLayer(map._layers[i]);
            }
            catch(e){
                console.log("problem with " + e + map._layers[i]);
            }
        }
        else if(map._layers[i]._heat)
        {
            try{
                map.removeLayer(map._layers[i]);
            }
            catch(e){
                console.log("problem with " + e + map._layers[i]);
            }
        }

    }
}
function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
var all_dest;
function onEachFeature (feature, layer) {

      layer.on('mouseover', function (e) {
        var popuptext = `<p><table>
        <tr><td><em>Records in area</em></td><td><strong>: ${feature.properties.name}</strong></td></tr>
    </table></p>`;
      layer.bindPopup(popuptext);
      this.openPopup();
      });
          layer.on('click', function (e) {
      if (theCircle != undefined) {
        map.removeLayer(theCircle);
      };
      if (theMarker != undefined) {
          map.removeLayer(theMarker);
      };
      this.openPopup();
      document.getElementById('heal').innerHTML = '<canvas id="myChart"></canvas>';
      document.getElementById('sheild').innerHTML = '<canvas id="myChart2"></canvas>';
      document.getElementById('hurt').innerHTML = '<canvas id="myChart3"></canvas>';
      document.getElementById('attack').innerHTML = '<canvas id="myChart4"></canvas>';
      var name = `${feature.properties.name}`;
      var id = `${feature.properties.id}`;
      var select = document.getElementById("example-select");
      select.options.length = 0;

      $.ajax({
        url: "{% url 'just_map_api' %}",
        type: "get", //send it through get method
        data: { name: name, id : id} ,
        success: function(response) {
        // clearMap();
        // layer.clearLayers();
        // var states1=response['topology']['features'];
        // layer.addData(states1).setStyle(attraction_style);
        all_dest = response.all_dest.dest;

        var select = document.getElementById("example-select");
        for(index in all_dest) {
            select.options[select.options.length] = new Option(all_dest[index], name);
          }
        const data = response.final_data;
        const data1 = response.final_data1;
        const data2 = response.final_data3;
        const states1 = response.arcs.states;
        const lat = response.lat;
        const lon = response.lon;
        var arrayLength = states1.length;
        colorz=getRandomColor();
        states1.forEach(function (item, index) {
          try {
            L.Polyline.Arc([lat, lon], [parseFloat(item[0]), parseFloat(item[1])], {
              color: colorz,
              vertices: 200,
              weight: item[2]
            }).addTo(map);
          }
          catch(err) {
            console.log(err);
          }

        });


        const config = {
              type: 'line',
              data: data,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Loads Going From '+name
                  }
                }
              },
            };


        var myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
        // const config1 = {
        //   type: 'bar',
        //   data: data1,
        //   options: {
        //     plugins: {
        //       title: {
        //         display: true,
        //         text: 'Trucks Going From '+name
        //       },
        //     },
        //     responsive: true,
        //     scales: {
        //       x: {
        //         stacked: true,
        //       },
        //       y: {
        //         stacked: true
        //       }
        //     }
        //   }
        // };
        const config1 = {
              type: 'line',
              data: data1,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Trucks Going From '+name
                  }
                }
              },
            };

        var myChart = new Chart(
        document.getElementById('myChart2'),
        config1
      );

      const config3 = {
        type: 'radar',
        data: data2,
        options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: 'Trucks Vs Loads For '+ name
            }
          }
        },
      };
        var myChart = new Chart(
        document.getElementById('myChart3'),
        config3
      );




        },
        error: function(xhr) {
        //Do Something to handle error
          console.log(xhr);
        }
      });



      });

          layer.on('mouseout', function (e) {
          this.closePopup();
      });

    


  }

function destFunc(value) {
  var select = document.getElementById("example-select");
  if(select.options.length > 0) {
    var statex=select.options[select.selectedIndex].text;
    var namex=select.options[select.selectedIndex].value;
    console.log(namex,statex);
    $.ajax({
        url: "{% url 'just_map_api_2' %}",
        type: "get", //send it through get method
        data: { name: namex, state: statex} ,
        success: function(response) {
          document.getElementById('hurt').innerHTML = '<canvas id="myChart3"></canvas>';
          document.getElementById('attack').innerHTML = '<canvas id="myChart4"></canvas>';
          console.log(response);
          const datax = response.data;
          const config = {
              type: 'line',
              data: datax,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Loads Going From '+namex +' to '+statex
                  }
                }
              },
            };
                    var myChart = new Chart(
        document.getElementById('myChart4'),
        config
      );

      const data6 = response.final_data3;
      const config3 = {
        type: 'radar',
        data: data6,
        options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: 'Trucks Vs Loads For '+ namex+' to '+statex
            }
          }
        },
      };
        var myChart = new Chart(
        document.getElementById('myChart3'),
        config3
      );





        },
        error: function(xhr) {
        //Do Something to handle error
          console.log(xhr);
        }
  });
  }
  else {
      console.log("empty");
  }
}

var layer = L.geoJson(false, {
    onEachFeature: onEachFeature
}).addTo(map);  
function attivita_style (feature, layer) {
      const color = colorScale(feature.properties.pop);
      return {
      "color":  color,
      "weight": 5,
      }
    }
// clearMap();
// layer.clearLayers();
layer.addData(locations).setStyle(attivita_style);

map.on('dblclick',function(e){  
  lat = e.latlng.lat;
  lon = e.latlng.lng;
  ProcessClick(lat,lon)
});

function ProcessClick(lat,lon){
  console.log("You clicked the map at LAT: "+ lat+" and LONG: "+lon );
    //Clear existing marker, circle, and selected points if selecting new points
    if (theCircle != undefined) {
      map.removeLayer(theCircle);
    };
    if (theMarker != undefined) {
        map.removeLayer(theMarker);
    };

    
  //Add a marker to show where you clicked.
   theMarker = L.marker([lat,lon]).addTo(map);  //Note: if lat/lon are strings then use parseFloat(lat), parseFloat(lon)
  SelectPoints(lat,lon)

}


function SelectPoints(lat,lon){
  var dist = document.getElementById("miles").value;
  xy = [lat,lon];  //center point of circle
  var theRadius = parseInt(dist) * 1609.34  //1609.34 meters in a mile //dist is a string so it's convered to an Interger.
  // draw circle to see the selection area
  theCircle = L.circle(xy, theRadius , {   /// Number is in Meters
    color: 'orange',
    fillOpacity: 0,
    opacity: 1
  }).addTo(map);
  $.ajax({
        url: "{% url 'just_map_heat_api' %}",
        type: "get", //send it through get method
        data: { lat: lat, lon: lon, dist: dist} ,
        success: function(response) {
          console.log(response);
          var heats = response.locations;
          var heat = L.heatLayer(heats, { radius: 35 });
          map.addLayer(heat);
        },
        error: function(xhr) {
        //Do Something to handle error
          console.log(xhr);
        }
  });

} //end of SelectPoints function








  </script>
</body>
</html>