{% load static %}
<html>
<head>
  <title>DAT Data</title>
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/css/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<style>
    

    /*//////////////////////////////////////////////////////////////////
    [ FONT ]*/
    
    
    @font-face {
      font-family: Montserrat-Regular;
      src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
    }
    
    @font-face {
      font-family: Montserrat-Medium;
      src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
    }
    
    /*//////////////////////////////////////////////////////////////////
    [ RESTYLE TAG ]*/
    
    body, html {
        height: 100%;
        font-family: sans-serif;
    }
    
    /* ------------------------------------ */
    a {
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }
    
    a:focus {
        outline: none !important;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    /* ------------------------------------ */
    h1,h2,h3,h4,h5,h6 {margin: 0px;}
    
    p {margin: 0px;}
    
    ul, li {
        margin: 0px;
        list-style-type: none;
    }
    
    
    /* ------------------------------------ */
    input {
      display: block;
        outline: none;
        border: none;
    }
    
    textarea {
      display: block;
      outline: none;
    }
    
    textarea:focus, input:focus {
      border-color: transparent;
    }
    
    /* ------------------------------------ */
    button {
        outline: none;
        border: none;
        background: transparent;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    iframe {
        border: none;
    }
    
    
    
    /*//////////////////////////////////////////////////////////////////
    [ Table ]*/
    
    .limiter {
      width: 100%;
      margin: 0 auto;
    }
    
    .container-table100 {
      width: 100%;
      min-height: 100vh;
      background: #d1d1d1;
    
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 33px 30px;
    }
    
    .wrap-table100 {
      width: 1300px;
    }
    
    /*//////////////////////////////////////////////////////////////////
    [ Table ]*/
    table {
      width: 100%;
      background-color: #fff;
    }
    
    th, td {
      font-weight: unset;
      padding-right: 10px;
    }
    
    .column100 {
      width: 130px;
      padding-left: 25px;
    }
    
    .column100.column1 {
      width: 265px;
      padding-left: 42px;
    }
    
    .row100.head th {
      padding-top: 24px;
      padding-bottom: 20px;
    }
    
    .row100 td {
      padding-top: 18px;
      padding-bottom: 14px;
    }
    
    
    /*==================================================================
    [ Ver1 ]*/
    .table100.ver1 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver1 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #36304a;
    }
    
    .table100.ver1 .row100:hover {
      background-color: #f2f2f2;
    }
    
    .table100.ver1 .hov-column-ver1 {
      background-color: #f2f2f2;
    }
    
    .table100.ver1 .hov-column-head-ver1 {
      background-color: #484848;
    }
    
    .table100.ver1 .row100 td:hover {
      background-color: #6c7ae0;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver2 ]*/
    .table100.ver2 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver2 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #333333;
    }
    
    .table100.ver2 .row100:hover td {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-ver2 {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-head-ver2 {
      background-color: #484848;
    }
    
    .table100.ver2 .row100 td:hover {
      background-color: #57b846;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver2 ]*/
    .table100.ver2 tbody tr:nth-child(even) {
      background-color: #eaf8e6;
    }
    
    .table100.ver2 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver2 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #333333;
    }
    
    .table100.ver2 .row100:hover td {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-ver2 {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-head-ver2 {
      background-color: #484848;
    }
    
    .table100.ver2 .row100 td:hover {
      background-color: #57b846;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver3 ]*/
    .table100.ver3 tbody tr {
      border-bottom: 1px solid #e5e5e5;
    }
    
    .table100.ver3 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver3 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #6c7ae0;
    }
    
    .table100.ver3 .row100:hover td {
      background-color: #fcebf5;
    }
    
    .table100.ver3 .hov-column-ver3 {
      background-color: #fcebf5;
    }
    
    .table100.ver3 .hov-column-head-ver3 {
      background-color: #7b88e3;
    }
    
    .table100.ver3 .row100 td:hover {
      background-color: #e03e9c;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver4 ]*/
    
    .table100.ver4 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver4 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #fa4251;
    }
    
    .table100.ver4 .row100:hover td {
      color: #fa4251;
    }
    
    .table100.ver4 .hov-column-ver4 {
      background-color: #ffebed;
    }
    
    .table100.ver4 .hov-column-head-ver4 {
      background-color: #f95462;
    }
    
    .table100.ver4 .row100 td:hover {
      background-color: #ffebed;
      color: #fa4251;
    }
    
    /*==================================================================
    [ Ver5 ]*/
    .table100.ver5 tbody tr:nth-child(even) {
      background-color: #e9faff;
    }
    
    .table100.ver5 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
      position: relative;
    }
    
    .table100.ver5 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #002933;
    }
    
    .table100.ver5 .row100:hover td {
      color: #fe3e64;
    }
    
    .table100.ver5 .hov-column-ver5 {color: #fe3e64;}
    .table100.ver5 .hov-column-ver5::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      border-left: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
    }
    
    .table100.ver5 .hov-column-head-ver5 {
      background-color: #1a3f48;
      color: #fe3e64;
    }
    
    .table100.ver5 .row100 td:hover {
      color: #fe3e64;
    }
    
    .table100.ver5 .row100 td:hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      border: 1px solid #fe3e64;
    }
    
    /*==================================================================
    [ Ver6 ]*/
    
    .table100.ver6 {
      border-radius: 16px;
      overflow: hidden;
      background: #7918f2;
      background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    }
    
    .table100.ver6 table {
      background-color: transparent;
    }
    
    .table100.ver6 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #fff;
      line-height: 1.4;
    }
    
    .table100.ver6 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: rgba(255,255,255,0.32);
    }
    
    .table100.ver6 .row100:hover td {
      background-color: rgba(255,255,255,0.1);
    }
    
    .table100.ver6 .hov-column-ver6 {
      background-color: rgba(255,255,255,0.1);
    }
    
    
    .table100.ver6 .row100 td:hover {
      background-color: rgba(255,255,255,0.2);
    }
    </style>
  <style>
    #map{ height: 100% }
    .alert{
    display: none;
}
.buttons .selected {
    color: red;
}

  </style>
<link rel="stylesheet" href="{% static 'css/style_kp.css'%}" type="text/css">

</head>
<body>
<!-- <div class="container"> -->
<div class="card">
    <div class="card-body" style="padding-left: 30px;">
        <div class="row">
            <div class="col">
                <h4>Select Origin State</h4>
                <select class="form-control" name="Select Origin_State[]" onChange="" id="origin-state-select" style="height:80px;" multiple>
                {% for items in origin_st %}
                    <option value="{{items}}">{{items}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col">
                <h4>Select Origin City</h4>
                <select class="form-control" name="Select Origin_City[]" id="origin-city-select" style="height:80px;" multiple>
                {% for items in origin_ct %}
                    <option value="{{items}}">{{items}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col">
                <h4>Select Destination State</h4>
                <select class="form-control" name="Select Destination_State[]" id="destination-state-select" style="height:80px;" multiple>
                {% for items in destination_st %}
                    <option value="{{items}}">{{items}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col">
                <h4>Select Destination City</h4>
                <select class="form-control" name="Select Destination_City[]" id="destination-city-select" style="height:80px;" multiple>
                {% for items in destination_ct %}
                    <option value="{{items}}">{{items}}</option>
                {% endfor %}
                </select>  
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" id="generate" onclick="generateHeatChart()">Genrate</button>

<div class="alert alert-danger" role="alert" style="display:none;">
    No Data Available.
</div>
<div class="card">
    <div class="card-body">
        <div class="buttons">
            <button class="showSingle1" target="22">Heat Chart<sup><b>Monthly</b></sup></button>
            <button class="showSingle1" target="33">Heat Chart<sup><b>Weekly</b></sup></button>
        </div>
    </div>
</div>
<div id="div22" class="targetDiv1">
<div class="card">
    <div class="card-body">
        <div>
        <div class="buttons">
            <button class="showSingle" target="1">Lanes</button>
            <button class="showSingle" target="2">Customers</button>
            <button class="showSingle" target="3">Shippers</button>
            <button class="showSingle" target="4">Receviers</button>
            </div>
            
            <div id="div1" class="targetDiv">
            <div class="card">
                <div class="card-body">
                    <div id="chart4"></div>
                </div>
            </div>
            </div>
            <div id="div2" class="targetDiv">
            <div class="card">
                <div class="card-body">
                    <div id="chart1"></div>
                </div>
            </div>
            </div>
            <div id="div3" class="targetDiv">
            <div class="card">
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
            </div>
            <div id="div4" class="targetDiv">
            <div class="card">
                <div class="card-body">
                    <div id="chart3"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="div33" class="targetDiv1">
<div class="card">
    <div class="card-body">
        <div>
        <div class="buttons">
            <button class="showSingle11" target="111">Lanes</button>
            <button class="showSingle11" target="222">Customers</button>
            <button class="showSingle11" target="333">Shippers</button>
            <button class="showSingle11" target="444">Receviers</button>
            </div>
            
            <div id="div111" class="targetDiv11">
            <div class="card">
                <div class="card-body">
                    <div id="chart44"></div>
                </div>
            </div>
            </div>
            <div id="div222" class="targetDiv11">
            <div class="card">
                <div class="card-body">
                    <div id="chart11"></div>
                </div>
            </div>
            </div>
            <div id="div333" class="targetDiv11">
            <div class="card">
                <div class="card-body">
                    <div id="chart22"></div>
                </div>
            </div>
            </div>
            <div id="div444" class="targetDiv11">
            <div class="card">
                <div class="card-body">
                    <div id="chart33"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
    <br>


<!-- </div> -->

<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--===============================================================================================-->	
	<!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->
<!--===============================================================================================-->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script> -->

<!--===============================================================================================-->
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- Include this library for mobile touch support  -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>
<script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://kit.fontawesome.com/3dea19e7ad.js" crossorigin="anonymous"></script>
<script type="text/javascript">
  // $(document).ready(function() {
  //     $('#origin-state-select').multiselect({
  //       enableFiltering: true,
  //               includeSelectAllOption: true,
  //               selectAllJustVisible: false,
  //               enableCaseInsensitiveFiltering: true,
  //               selectedClass: "active multiselect-active-item-fallback",
  //               maxHeight: 280,
  //               nonSelectedText: 'Select a customer',
  //               filterPlaceholder: 'Search for customer...',
  //               widthSynchronizationMode: 'ifPopupIsSmaller',
  //               buttonWidth: '290px',
  //               delimiterText: '; ',
  //               templates: {
  //                   filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="input-group-text fas fa-times"></i></button></div></div></div>',
  //                   button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
  //                   popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
  //               }
  //     });
  // });
  // $(document).ready(function() {
  //     $('#destination-state-select').multiselect({
  //       enableFiltering: true,
  //               includeSelectAllOption: true,
  //               selectAllJustVisible: false,
  //               enableCaseInsensitiveFiltering: true,
  //               selectedClass: "active multiselect-active-item-fallback",
  //               maxHeight: 280,
  //               nonSelectedText: 'Select a customer',
  //               filterPlaceholder: 'Search for customer...',
  //               widthSynchronizationMode: 'ifPopupIsSmaller',
  //               buttonWidth: '290px',
  //               delimiterText: '; ',
  //               templates: {
  //                   filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="input-group-text fas fa-times"></i></button></div></div></div>',
  //                   button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
  //                   popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
  //               }
  //     });
  // });
  // $(document).ready(function() {
  //     $('#origin-city-select').multiselect({
  //       enableFiltering: true,
  //               includeSelectAllOption: true,
  //               selectAllJustVisible: false,
  //               enableCaseInsensitiveFiltering: true,
  //               selectedClass: "active multiselect-active-item-fallback",
  //               maxHeight: 280,
  //               nonSelectedText: 'Select a customer',
  //               filterPlaceholder: 'Search for customer...',
  //               widthSynchronizationMode: 'ifPopupIsSmaller',
  //               buttonWidth: '290px',
  //               delimiterText: '; ',
  //               templates: {
  //                   filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="input-group-text fas fa-times"></i></button></div></div></div>',
  //                   button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
  //                   popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
  //               }
  //     });
  // });
  // $(document).ready(function() {
  //     $('#destination-city-select').multiselect({
  //       enableFiltering: true,
  //               includeSelectAllOption: true,
  //               selectAllJustVisible: false,
  //               enableCaseInsensitiveFiltering: true,
  //               selectedClass: "active multiselect-active-item-fallback",
  //               maxHeight: 280,
  //               nonSelectedText: 'Select a customer',
  //               filterPlaceholder: 'Search for customer...',
  //               widthSynchronizationMode: 'ifPopupIsSmaller',
  //               buttonWidth: '290px',
  //               delimiterText: '; ',
  //               templates: {
  //                   filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="input-group-text fas fa-times"></i></button></div></div></div>',
  //                   button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
  //                   popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
  //               }
  //     });
  // });
</script>

<script>
    $('.targetDiv').hide();
    $('.targetDiv').first().show();
    $('.showSingle').click(function () {
        $('.targetDiv').hide();
        $('.showSingle').removeClass('selected');
        $('#div' + $(this).attr('target')).show();
        $(this).addClass('selected');
    });
    $('.targetDiv1').hide();
    $('.targetDiv1').first().show();
    $('.showSingle1').click(function () {
        $('.targetDiv1').hide();
        $('.showSingle1').removeClass('selected');
        $('#div' + $(this).attr('target')).show();
        $(this).addClass('selected');
    });

    $('.targetDiv11').hide();
    $('.targetDiv11').first().show();
    $('.showSingle11').click(function () {
        $('.targetDiv11').hide();
        $('.showSingle11').removeClass('selected');
        $('#div' + $(this).attr('target')).show();
        $(this).addClass('selected');
    });


    function  generateHeatChart() {
        var destination_st = $('#destination-state-select').val();
        var origin_st = $('#origin-state-select').val();
        var origin_ct = $('#origin-city-select').val();
        var destination_ct = $('#destination-city-select').val();
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'customer'} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart1"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'shipper'} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart2"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'receiver'} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart3"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'travel_data'} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart4"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
        
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'customer',
                week_month:"year_week_str"} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart11"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'shipper',
                week_month:"year_week_str"} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart22"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'receiver',
                week_month:"year_week_str"} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart33"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
    
        $.ajax({
                url: "{% url 'just_heat_chart_v1_api' %}",
                type: "get", //send it through get method
                data: { origin_st:origin_st,
                    destination_st:destination_st,
                    origin_ct:origin_ct,
                    destination_ct:destination_ct,
                    selector0:'travel_data',
                week_month:"year_week_str"} ,
                success: function(response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heat_series = response.heat_series;
                            var colorscale = response.colorscale;
                            var xaxis_vals = response.xaxis;
                            var options = {
                                series: heat_series,
                                chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                      dataPointSelection: function(event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName,el);
                                      }
                                  },
                                },
                                plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                    ranges: colorscale
                                    }
                                }
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                width: 1
                                },
                                xaxis: {
                                    type: 'category',
                                    categories: xaxis_vals
                                    },
                                // yaxis: {
                                //     show: false,
                                // },
                                grid: {
                                    padding: {
                                        left: 0,
                                        right: 0
                                    }
                                    },
                                title: {
                                text: 'HeatMap Chart with Color Range'
                                },
                                };
    
                                var chart = new ApexCharts(document.querySelector("#chart44"), options);
                                chart.render();
                        }
                        else {
                            $('.alert').show();
                        }
    
                        },
                    error: function(xhr) {
                    //Do Something to handle error
                        console.log(xhr);
                    }
                });
                
        }
    
    </script>



</body>
</html>