{% load static %}
<html>
<head>
  <title>DAT Data</title>
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/css/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<style>
    

    /*//////////////////////////////////////////////////////////////////
    [ FONT ]*/
    
    
    @font-face {
      font-family: Montserrat-Regular;
      src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
    }
    
    @font-face {
      font-family: Montserrat-Medium;
      src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
    }
    
    /*//////////////////////////////////////////////////////////////////
    [ RESTYLE TAG ]*/
    
    body, html {
        height: 100%;
        font-family: sans-serif;
    }
    
    /* ------------------------------------ */
    a {
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }
    
    a:focus {
        outline: none !important;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    /* ------------------------------------ */
    h1,h2,h3,h4,h5,h6 {margin: 0px;}
    
    p {margin: 0px;}
    
    ul, li {
        margin: 0px;
        list-style-type: none;
    }
    
    
    /* ------------------------------------ */
    input {
      display: block;
        outline: none;
        border: none;
    }
    
    textarea {
      display: block;
      outline: none;
    }
    
    textarea:focus, input:focus {
      border-color: transparent;
    }
    
    /* ------------------------------------ */
    button {
        outline: none;
        border: none;
        background: transparent;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    iframe {
        border: none;
    }
    
    
    
    /*//////////////////////////////////////////////////////////////////
    [ Table ]*/
    
    .limiter {
      width: 100%;
      margin: 0 auto;
    }
    
    .container-table100 {
      width: 100%;
      min-height: 100vh;
      background: #d1d1d1;
    
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 33px 30px;
    }
    
    .wrap-table100 {
      width: 1300px;
    }
    
    /*//////////////////////////////////////////////////////////////////
    [ Table ]*/
    table {
      width: 100%;
      background-color: #fff;
    }
    
    th, td {
      font-weight: unset;
      padding-right: 10px;
    }
    
    .column100 {
      width: 130px;
      padding-left: 25px;
    }
    
    .column100.column1 {
      width: 265px;
      padding-left: 42px;
    }
    
    .row100.head th {
      padding-top: 24px;
      padding-bottom: 20px;
    }
    
    .row100 td {
      padding-top: 18px;
      padding-bottom: 14px;
    }
    
    
    /*==================================================================
    [ Ver1 ]*/
    .table100.ver1 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver1 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #36304a;
    }
    
    .table100.ver1 .row100:hover {
      background-color: #f2f2f2;
    }
    
    .table100.ver1 .hov-column-ver1 {
      background-color: #f2f2f2;
    }
    
    .table100.ver1 .hov-column-head-ver1 {
      background-color: #484848;
    }
    
    .table100.ver1 .row100 td:hover {
      background-color: #6c7ae0;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver2 ]*/
    .table100.ver2 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver2 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #333333;
    }
    
    .table100.ver2 .row100:hover td {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-ver2 {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-head-ver2 {
      background-color: #484848;
    }
    
    .table100.ver2 .row100 td:hover {
      background-color: #57b846;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver2 ]*/
    .table100.ver2 tbody tr:nth-child(even) {
      background-color: #eaf8e6;
    }
    
    .table100.ver2 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver2 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #333333;
    }
    
    .table100.ver2 .row100:hover td {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-ver2 {
      background-color: #83d160;
      color: #fff;
    }
    
    .table100.ver2 .hov-column-head-ver2 {
      background-color: #484848;
    }
    
    .table100.ver2 .row100 td:hover {
      background-color: #57b846;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver3 ]*/
    .table100.ver3 tbody tr {
      border-bottom: 1px solid #e5e5e5;
    }
    
    .table100.ver3 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver3 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #6c7ae0;
    }
    
    .table100.ver3 .row100:hover td {
      background-color: #fcebf5;
    }
    
    .table100.ver3 .hov-column-ver3 {
      background-color: #fcebf5;
    }
    
    .table100.ver3 .hov-column-head-ver3 {
      background-color: #7b88e3;
    }
    
    .table100.ver3 .row100 td:hover {
      background-color: #e03e9c;
      color: #fff;
    }
    
    /*==================================================================
    [ Ver4 ]*/
    
    .table100.ver4 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
    }
    
    .table100.ver4 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #fa4251;
    }
    
    .table100.ver4 .row100:hover td {
      color: #fa4251;
    }
    
    .table100.ver4 .hov-column-ver4 {
      background-color: #ffebed;
    }
    
    .table100.ver4 .hov-column-head-ver4 {
      background-color: #f95462;
    }
    
    .table100.ver4 .row100 td:hover {
      background-color: #ffebed;
      color: #fa4251;
    }
    
    /*==================================================================
    [ Ver5 ]*/
    .table100.ver5 tbody tr:nth-child(even) {
      background-color: #e9faff;
    }
    
    .table100.ver5 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      line-height: 1.4;
      position: relative;
    }
    
    .table100.ver5 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: #002933;
    }
    
    .table100.ver5 .row100:hover td {
      color: #fe3e64;
    }
    
    .table100.ver5 .hov-column-ver5 {color: #fe3e64;}
    .table100.ver5 .hov-column-ver5::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      border-left: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
    }
    
    .table100.ver5 .hov-column-head-ver5 {
      background-color: #1a3f48;
      color: #fe3e64;
    }
    
    .table100.ver5 .row100 td:hover {
      color: #fe3e64;
    }
    
    .table100.ver5 .row100 td:hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      border: 1px solid #fe3e64;
    }
    
    /*==================================================================
    [ Ver6 ]*/
    
    .table100.ver6 {
      border-radius: 16px;
      overflow: hidden;
      background: #7918f2;
      background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
      background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    }
    
    .table100.ver6 table {
      background-color: transparent;
    }
    
    .table100.ver6 td {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #fff;
      line-height: 1.4;
    }
    
    .table100.ver6 th {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
    
      background-color: rgba(255,255,255,0.32);
    }
    
    .table100.ver6 .row100:hover td {
      background-color: rgba(255,255,255,0.1);
    }
    
    .table100.ver6 .hov-column-ver6 {
      background-color: rgba(255,255,255,0.1);
    }
    
    
    .table100.ver6 .row100 td:hover {
      background-color: rgba(255,255,255,0.2);
    }
    </style>
  <style>
    #map{ height: 100% }
    .alert{
    display: none;
}
.buttons .selected {
    color: red;
}

  </style>
  
</head>
<body>

<div class="card">
    <div class="card-body" style="padding-left: 30px;">
        <h4>Select Customer</h4>
        <select class="form-control" name="Select Customer[]" id="customer-select" style="height:200px;" multiple>
        {% for items in customers %}
            <option value="{{items}}">{{items}}</option>
        {% endfor %}
        </select>
        <button id="generate" onclick="generateHeatChart()">Genrate Heat Chart</button>
    </div>
</div>
<div class="alert alert-danger" role="alert" style="display:none;">
    No Data Available for the selected Date Range.
</div>
<button id="generate" onclick="updateArcTime()">Run</button>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div id="map" style="height: 908;"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <div class="buttons">
                <button class="showSingle" target="1">Customers</button>
                <button class="showSingle" target="2">Lanes</button>
                <button class="showSingle" target="3">Shippers</button>
                <button class="showSingle" target="4">Receviers</button>
              </div>
              
              <div id="div1" class="targetDiv">
                <div class="card">
                  <div class="card-body">
                      <div id="chart1"></div>
                  </div>
              </div>
              </div>
              <div id="div2" class="targetDiv">
                <div class="card">
                  <div class="card-body">
                      <div id="chart4"></div>
                  </div>
              </div>
              </div>
              <div id="div3" class="targetDiv">
                <div class="card">
                  <div class="card-body">
                      <div id="chart2"></div>
                  </div>
              </div>
              </div>
              <div id="div4" class="targetDiv">
                <div class="card">
                  <div class="card-body">
                      <div id="chart3"></div>
                  </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>


<br>

<br>

<div class="card">
  <div class="card-body" style="padding-left: 30px;">
    <div class="row">
      <div class="col">    
        <label for="loads_range" class="form-label">Loads Weight</label>
        <input type="range" class="form-range" min="0" max="1" step="0.1" id="loads_range">
    </div>
      <div class="col">    
        <label for="price_range" class="form-label">Customer-Rate Weight</label>
        <input type="range" class="form-range" min="0" max="1" step="0.1" id="price_range">
    </div>
      <div class="col">
        <label for="lanes_range" class="form-label">Lanes Weight</label>
        <input type="range" class="form-range" min="0" max="1" step="0.1" id="lanes_range">
    </div>
      <div class="col">    
        <label for="shippers_range" class="form-label">Shippers Weight</label>
        <input type="range" class="form-range" min="0" max="1" step="0.1" id="shippers_range">
    </div>
    </div>
      <h4>Select Customer</h4>
      <select id="similar-select" class="form-select" aria-label="Default select example">
        {% for items in customers %}
          <option value="{{items}}">{{items}}</option>
        {% endfor %}
      </select>
      <button id="similar_customer" onclick="getSimilarCustomer()">Get Similar Customer</button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table100 ver1 m-b-110">
        <table id="similar_table" data-vertable="ver1">
            <thead>
                <tr class="row100 head">
                    <th class="column100 column1" data-column="column1">Customer</th>
                    <th class="column100 column2" data-column="column2">Loads[Count]</th>
                    <th class="column100 column3" data-column="column3">Customer Rate[AVG]</th>
                    <th class="column100 column4" data-column="column4">Buy Cost[AVG]</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
  </div>
</div>





<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--===============================================================================================-->	
	<!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->
<!--===============================================================================================-->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script> -->

<!--===============================================================================================-->
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- Include this library for mobile touch support  -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>
<script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#customer-select').multiselect({
          enableFiltering: true,
          includeSelectAllOption: true,
          selectAllJustVisible: false,
          enableCaseInsensitiveFiltering: true,
          maxHeight: 450
          // buttonWidth: '100px'
      });
  });
</script>
<script>
$('.targetDiv').hide();
$('.targetDiv').first().show();
$('.showSingle').click(function () {
    $('.targetDiv').hide();
    $('.showSingle').removeClass('selected');
    $('#div' + $(this).attr('target')).show();
    $(this).addClass('selected');
});


function  generateHeatChart() {
    var cust = $('#customer-select').val();
    $.ajax({
            url: "{% url 'just_map_v9_heat_chart' %}",
            type: "get", //send it through get method
            data: { customer: cust,selector0:'customer'} ,
            success: function(response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                            height: 650,
                            type: 'heatmap',
                            events: {
                                  dataPointSelection: function(event, chartContext, config) {
                                    console.log(chartContext, config);
                                    var el = event.target;
                                    var seriesIndex = parseInt(el.getAttribute("i"));
                                    var dataPointIndex = parseInt(el.getAttribute("j"));
                                    var seriesName = config.globals.seriesNames[seriesIndex];
                                    console.log(seriesName,el);
                                  }
                              },
                            },
                            plotOptions: {
                            heatmap: {
                                shadeIntensity: 0.5,
                                radius: 0,
                                useFillColorAsStroke: true,
                                colorScale: {
                                ranges: colorscale
                                }
                            }
                            },
                            dataLabels: {
                            enabled: false
                            },
                            stroke: {
                            width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                                },
                            yaxis: {
                                show: false,
                            },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                                },
                            title: {
                            text: 'HeatMap Chart with Color Range'
                            },
                            };

                            var chart = new ApexCharts(document.querySelector("#chart1"), options);
                            chart.render();
                    }
                    else {
                        $('.alert').show();
                    }

                    },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });

    $.ajax({
            url: "{% url 'just_map_v9_heat_chart' %}",
            type: "get", //send it through get method
            data: { customer: cust,selector0:'shipper'} ,
            success: function(response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                            height: 650,
                            type: 'heatmap',
                            events: {
                                  dataPointSelection: function(event, chartContext, config) {
                                    console.log(chartContext, config);
                                    var el = event.target;
                                    var seriesIndex = parseInt(el.getAttribute("i"));
                                    var dataPointIndex = parseInt(el.getAttribute("j"));
                                    var seriesName = config.globals.seriesNames[seriesIndex];
                                    console.log(seriesName,el);
                                  }
                              },
                            },
                            plotOptions: {
                            heatmap: {
                                shadeIntensity: 0.5,
                                radius: 0,
                                useFillColorAsStroke: true,
                                colorScale: {
                                ranges: colorscale
                                }
                            }
                            },
                            dataLabels: {
                            enabled: false
                            },
                            stroke: {
                            width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                                },
                            yaxis: {
                                show: false,
                            },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                                },
                            title: {
                            text: 'HeatMap Chart with Color Range'
                            },
                            };

                            var chart = new ApexCharts(document.querySelector("#chart2"), options);
                            chart.render();
                    }
                    else {
                        $('.alert').show();
                    }

                    },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });

    $.ajax({
            url: "{% url 'just_map_v9_heat_chart' %}",
            type: "get", //send it through get method
            data: { customer: cust,selector0:'receiver'} ,
            success: function(response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                            height: 650,
                            type: 'heatmap',
                            events: {
                                  dataPointSelection: function(event, chartContext, config) {
                                    console.log(chartContext, config);
                                    var el = event.target;
                                    var seriesIndex = parseInt(el.getAttribute("i"));
                                    var dataPointIndex = parseInt(el.getAttribute("j"));
                                    var seriesName = config.globals.seriesNames[seriesIndex];
                                    console.log(seriesName,el);
                                  }
                              },
                            },
                            plotOptions: {
                            heatmap: {
                                shadeIntensity: 0.5,
                                radius: 0,
                                useFillColorAsStroke: true,
                                colorScale: {
                                ranges: colorscale
                                }
                            }
                            },
                            dataLabels: {
                            enabled: false
                            },
                            stroke: {
                            width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                                },
                            yaxis: {
                                show: false,
                            },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                                },
                            title: {
                            text: 'HeatMap Chart with Color Range'
                            },
                            };

                            var chart = new ApexCharts(document.querySelector("#chart3"), options);
                            chart.render();
                    }
                    else {
                        $('.alert').show();
                    }

                    },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });

    $.ajax({
            url: "{% url 'just_map_v9_heat_chart' %}",
            type: "get", //send it through get method
            data: { customer: cust,selector0:'travel_data'} ,
            success: function(response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                            height: 650,
                            type: 'heatmap',
                            events: {
                                  dataPointSelection: function(event, chartContext, config) {
                                    console.log(chartContext, config);
                                    var el = event.target;
                                    var seriesIndex = parseInt(el.getAttribute("i"));
                                    var dataPointIndex = parseInt(el.getAttribute("j"));
                                    var seriesName = config.globals.seriesNames[seriesIndex];
                                    console.log(seriesName,el);
                                  }
                              },
                            },
                            plotOptions: {
                            heatmap: {
                                shadeIntensity: 0.5,
                                radius: 0,
                                useFillColorAsStroke: true,
                                colorScale: {
                                ranges: colorscale
                                }
                            }
                            },
                            dataLabels: {
                            enabled: false
                            },
                            stroke: {
                            width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                                },
                            yaxis: {
                                show: false,
                            },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                                },
                            title: {
                            text: 'HeatMap Chart with Color Range'
                            },
                            };

                            var chart = new ApexCharts(document.querySelector("#chart4"), options);
                            chart.render();
                    }
                    else {
                        $('.alert').show();
                    }

                    },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });
            
    }

</script>

<script>
    (function ($) {
        "use strict";
        $('.column100').on('mouseover',function(){
            var table1 = $(this).parent().parent().parent();
            var table2 = $(this).parent().parent();
            var verTable = $(table1).data('vertable')+"";
            var column = $(this).data('column') + ""; 

            $(table2).find("."+column).addClass('hov-column-'+ verTable);
            $(table1).find(".row100.head ."+column).addClass('hov-column-head-'+ verTable);
        });

        $('.column100').on('mouseout',function(){
            var table1 = $(this).parent().parent().parent();
            var table2 = $(this).parent().parent();
            var verTable = $(table1).data('vertable')+"";
            var column = $(this).data('column') + ""; 

            $(table2).find("."+column).removeClass('hov-column-'+ verTable);
            $(table1).find(".row100.head ."+column).removeClass('hov-column-head-'+ verTable);
        });

    })(jQuery);
</script>

<script>
function getSimilarCustomer() {
  var customer_sim = document.getElementById("similar-select").value;
  var loads_val = document.getElementById("loads_range").value;
  var price_range = document.getElementById("price_range").value;
  var lanes_range = document.getElementById("lanes_range").value;
  var shippers_range = document.getElementById("shippers_range").value;
  $.ajax({
            url: "{% url 'similar_lanes' %}",
            type: "get", //send it through get method
            data: { customer: customer_sim,loads_val:loads_val,
              price_range:price_range,lanes_range:lanes_range,
              shippers_range:shippers_range} ,
            success: function(response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var similar_customerz= response.data;
                        var loads = similar_customerz;
                        var tbodyRef = document.getElementById('similar_table').getElementsByTagName('tbody')[0];
                        // Insert a row at the end of table
                        tbodyRef.innerHTML='';
                        var i;
                        for (i = 0; i < loads.length; i++) {
                          var newRow = tbodyRef.insertRow();
                          newRow.className = "row100";
                          newRow.innerHTML+='<td class="column100 column1" data-column="column1">'+loads[i][0]+'</td>\
                          <td class="column100 column2" data-column="column2">'+loads[i][1]+'</td>\
                          <td class="column100 column3" data-column="column3">'+loads[i][2]+'</td>\
                          <td class="column100 column4" data-column="column4">'+loads[i][3]+'</td>';
                        }

                        // Object.entries(loads).forEach(([key, value]) => {
                        //   console.log(key, value);
                        // });

                    }
                    else {
                        $('.alert').show();
                    }

                    },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });

}
</script>

<script>
    var first=true;

    var colors = [
    // "#ffffff",
    "#fcff94",
    "#f1a692",
    // "#fabe8c",
    "#e0769e",
    "#9a5caf",
    "#4b4ba5",
    // "#000000",
    ];
    var colorScale2_ = chroma.scale(colors).domain([0, 1]).mode('lab').correctLightness();

    var colorScale = function (value) {
    const color = colorScale2_(value);
    return color;
    };

    var sliderControl = null;

    var map = L.map('map').setView([38.653737, -100.148994], 5);

    // load a tile layer
    var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 16,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
    }).addTo(map);

    function clearMap(){
        for(i in map._layers){
        console.log(map._layers[i]);
        try{map.removeLayer(map._layers[i]);}
        catch(error){console.log(error);}
        
        }
    }

    var arc;
    document.getElementById('generate1').onclick = function() {
        if (!first){

        var select1 = document.getElementById("customer-select");
        var select2 = document.getElementById("shipper-select");
        var select3 = document.getElementById("receiver-select");
        var cust = $('#customer-select').val();
        var ship = $('#shipper-select').val();
        var recv = $('#receiver-select').val();
        var time= document.getElementById("time").value;
        map.eachLayer(function (layer) {
        if (!layer._url) {
            map.removeLayer(layer);
        }
        });

        $.ajax({
            url: "{% url 'just_map_v8_slider' %}",
            type: "get", //send it through get method
            data: { customer: cust, shipper:ship,
            receiver:select3.value,times:time} ,
            success: function(response) {
                if (!response.error[0]) {
                    $('.alert').hide();
                    var heats = response.data;
                    var shipperz = response.shippers;
                    var receiverz = response.receivers;
                    var polylines=[];
                    var polyline;
                    heats.forEach(function (item, index) {
                        try {
                            var pointA = new L.LatLng(item[0][0], item[0][1]);
                            var pointB = new L.LatLng(item[1][0], item[1][1]);
                            var pointList = [pointA, pointB];

                            polyline = new L.Polyline(pointList, {
                                time: item[5],
                                color: item[3],
                                weight: item[2],
                                opacity: 0.5,
                                smoothFactor: 1
                            });
                            polylines.push(polyline);
                        }
                        catch(err) {
                            console.log(err);
                        }
                    });
                    var layerGroup = L.layerGroup(polylines);
                    var sliderControl = L.control.sliderControl({layer:layerGroup});
                    map.addControl(sliderControl);
                    sliderControl.startSlider();
                }
                else {
                    $('.alert').show();
                }


                },
                error: function(xhr) {
                //Do Something to handle error
                    console.log(xhr);
                }
            });
        
        }
        first=false;
    } 
  

    // var arc_group = L.featureGroup();
    // var arc;
    // function updateArcTime() {
    //     if (!first){
    //     map.eachLayer(function (layer) {
    //     if (!layer._url) {
    //         map.removeLayer(layer);
    //     }
    //     });

    //     $.ajax({
    //         url: "{% url 'just_map_v9_time_api' %}",
    //         type: "get", //send it through get method
    //         // data: { customer: cust, shipper:ship,
    //         // receiver:select3.value,times:time} ,
    //         success: function(response) {
    //                 console.log(response.error[0]);
    //                 if (!response.error[0]) {
    //                     $('.alert').hide();
    //                     var heats = response.data;
    //                     console.log(heats);
    //                     function style(feature) {
    //                         console.log(feature);
    //                         return {
    //                             width: feature.properties.width,
    //                             opacity: 0.5,
    //                             color: feature.properties.color
    //                             };
    //                         }

    //                     function onEachFeature(feature, layer) {
    //                     // does this feature have a property named popupContent?
    //                     if (feature.properties && feature.properties.popupContent) {
    //                         popUp='<table style="width:100%">\
    //                             <tr>\
    //                                 <th>Origin City</th>\
    //                                 <th>Destination City</th>\
    //                                 <th>Standard Van 53</th>\
    //                                 <th>Standard Reefer 53</th>\
    //                                 <th>Standard Van 48</th>\
    //                                 <th>Standard Reefer 48</th>\
    //                             </tr>\
    //                             <tr>\
    //                                 <td>'+feature.properties.popupContent[0]['origin_data']+'</td>\
    //                                 <td>'+feature.properties.popupContent[0]['destination_data']+'</td>\
    //                                 <td>'+feature.properties.popupContent[0]['Standard Van 53']+'</td>\
    //                                 <td>'+feature.properties.popupContent[0]['Standard Reefer 53']+'</td>\
    //                                 <td>'+feature.properties.popupContent[0]['Standard Van 48']+'</td>\
    //                                 <td>'+feature.properties.popupContent[0]['Standard Reefer 48']+'</td>\
    //                             </tr>\
    //                             </table>';
    //                         layer.bindPopup(popUp);
    //                     }
    //                     }

    //                     var myGeoJson = L.geoJson(heats, {
    //                         style: function (feature) {
    //                             if (feature.properties && feature.properties.popupContent) {
    //                                 return {
    //                                 width: feature.properties.width,
    //                                 opacity: 0.5,
    //                                 color: feature.properties.color
    //                             };
    //                             }
    //                             else{
    //                                 return {
    //                                 width: 0.7,
    //                                 opacity: 0.5,
    //                                 color: "#FF0000"
    //                                 };
    //                             }

    //                         },
    //                     onEachFeature: onEachFeature
    //                     }).addTo(map);
    //                 }
    //                 else {
    //                     $('.alert').show();
    //                 }

    //                 },
    //             error: function(xhr) {
    //             //Do Something to handle error
    //                 console.log(xhr);
    //             }
    //         });
        
    //     }
    //     first=false;
    // }

</script>
</body>
</html>