{% load static %}
<html>
<head>
  <title>DAT Data</title>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
  <style>
    #map{ height: 100% }
  </style>
  
</head>
<body>

<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
    <div id="map" style="height: 908;"></div>
</div>
<script src="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<script>
    L.Control.SliderControl = L.Control.extend({
    options: {
        position: 'topright',
        layers: null,
        maxValue: -1,
        minValue: -1,
        markers: null,
        range: false,
        follow: false
    },

    initialize: function (options) {
        L.Util.setOptions(this, options);
        this._layer = this.options.layer;

    },

    setPosition: function (position) {
        var map = this._map;

        if (map) {
            map.removeControl(this);
        }

        this.options.position = position;

        if (map) {
            map.addControl(this);
        }
        this.startSlider();
        return this;
    },

    onAdd: function (map) {
        this.options.map = map;

        // Create a control sliderContainer with a jquery ui slider
        var sliderContainer = L.DomUtil.create('div', 'slider', this._container);
        $(sliderContainer).append('<div id="leaflet-slider" style="width:200px"><div class="ui-slider-handle"></div><div id="slider-timestamp" style="width:200px; margin-top:10px;background-color:#FFFFFF"></div></div>');
        //Prevent map panning/zooming while using the slider
        $(sliderContainer).mousedown(function () {
            map.dragging.disable();
        });
        $(document).mouseup(function () {
            map.dragging.enable();
            //Only show the slider timestamp while using the slider
            $('#slider-timestamp').html('');
        });

        var options = this.options;
        this.options.markers = [];

        //If a layer has been provided: calculate the min and max values for the slider
        if (this._layer) {
            this._layer.eachLayer(function (layer) {
                if (options.minValue === -1) {
                    options.minValue = layer._leaflet_id;
                }
                options.maxValue = layer._leaflet_id;
                options.markers[layer._leaflet_id] = layer;
            });
            this.options = options;
        } else {
            console.log("Error: You have to specify a layer via new SliderControl({layer: your_layer});");
        }
        return sliderContainer;
    },

    onRemove: function (map) {
        //Delete all markers which where added via the slider and remove the slider div
        for (i = this.options.minValue; i < this.options.maxValue; i++) {
            map.removeLayer(this.options.markers[i]);
        }
        $('#leaflet-slider').remove();
    },

    startSlider: function () {
        _options = this.options;
        $("#leaflet-slider").slider({
            range: _options.range,
            value: _options.minValue + 1,
            min: _options.minValue,
            max: _options.maxValue +1,
            step: 1,
            slide: function (e, ui) {
                var map = _options.map;
                if(!!_options.markers[ui.value]) {
                    // If there is no time property, this line has to be removed (or exchanged with a different property)
                    if(_options.markers[ui.value].feature !== undefined) {
                        if(_options.markers[ui.value].feature.properties.startDate){
                            if(_options.markers[ui.value]) $('#slider-timestamp').html(_options.markers[ui.value].feature.properties.startDate);
                        }else {
                            console.error("You have to have a time property");
                        }
                    }else {
                        // set by leaflet Vector Layers
                        if(_options.markers [ui.value].options.time){
                            if(_options.markers[ui.value]) $('#slider-timestamp').html(_options.markers[ui.value].options.startDate.substr(0, 19));
                        }else {
                            console.error("You have to have a time property")
                        }
                    }
                    
                    var i;
                    if(_options.range){
                        // jquery ui using range
                        for (i = ui.values[0]; i <= ui.values[1]; i++){
                           if(_options.markers[i]) map.addLayer(_options.markers[i]);
                        }
                        for (i = _options.maxValue; i > ui.values[1]; i--) {
                            if(_options.markers[i]) map.removeLayer(_options.markers[i]);
                        }
                        for (i = _options.minValue; i < ui.values[0]; i++) {
                            if(_options.markers[i]) map.removeLayer(_options.markers[i]);
                        }
                    }else if(_options.follow){
                        for (i = _options.minValue; i < (ui.value - _options.follow); i++) {
                            if(_options.markers[i]) map.removeLayer(_options.markers[i]);
                        }
                        for (i = (ui.value - _options.follow); i < ui.value ; i++) {
                            if(_options.markers[i]) map.addLayer(_options.markers[i]);
                        }
                        for (i = ui.value; i <= _options.maxValue; i++) {
                            if(_options.markers[i]) map.removeLayer(_options.markers[i]);
                        }
                    }else{
                        // jquery ui for point before
                        for (i = _options.minValue; i <= ui.value ; i++) {
                            if(_options.markers[i]) map.addLayer(_options.markers[i]);
                        }
                        for (i = (ui.value + 1); i <= _options.maxValue; i++) {
                            if(_options.markers[i]) map.removeLayer(_options.markers[i]);
                        }
                    }
                }
            }
        });
        _options.map.addLayer(_options.markers[_options.minValue]);
    }
});

L.control.sliderControl = function (options) {
    return new L.Control.SliderControl(options);
};
</script>
  <script>
    // var select1 = document.getElementById("customer-select");
    // var select2 = document.getElementById("shipper-select");
    // var select3 = document.getElementById("receiver-select");
    // var cust = $('#customer-select').val();
    // var ship = $('#shipper-select').val();
    // var recv = $('#receiver-select').val();
    $.ajax({
            url: "{% url 'just_map_v7_slider' %}",
            type: "get",
            // data: { year: year_value, week_month: week_month_value} ,
            success: function(response) {
            var sliders= response.all_sliders;
            sliders=sliders[0];
            console.log(sliders);
            var map = L.map('map').setView([41.25861, -95.9375], 6);

            // load a tile layer
            var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 16,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
            }).addTo(map);
            var myData = {
                "type": "FeatureCollection",
                "features":[{
                    "type":"Feature",
                    "geometry":{
                    "type":"Point",
                    "coordinates":[-74.0481651,40.7208714]
                    },
                    "properties":{
                    "endDate":"12/8/14 22:00",
                    "startDate":"12/8/14 19:00"
                    }
                },{
                    "type":"Feature",
                    "geometry":{
                    "type":"Point",
                    "coordinates":[-73.9924459,40.7176705]
                    },
                    "properties":{
                    "endDate":"12/9/14 19:00",
                    "startDate":"12/9/14 19:00"}
                },{
                    "type":"Feature",
                    "geometry":{
                    "type":"Point",
                    "coordinates":[-73.4557279,40.6790963]
                    },
                    "properties":{
                    "endDate":"12/9/14 22:00",
                    "startDate":"12/9/14 20:00"
                    }
                }]
                };

            var mylayer = L.geoJson(sliders).addTo(map);

            var sliderControl = L.control.sliderControl({
            position: "topright",
            layer: mylayer
            });

            map.addControl(sliderControl);

            sliderControl.startSlider();
            },
            error: function(xhr) {
            console.log(xhr);
            }
    });
  </script>
</body>
</html>