{% load static %}
<html>

<head>
    <title>DAT Data</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Bootstrap Multiselect CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Daterange CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/css/perfect-scrollbar.css">
    <!-- Custom CSS -->
    <link href="./css/style.css" rel="stylesheet">


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="selection-form">
                <div class="row">
                    <div class="col-lg-4 col-md-6 shadow customer">
                        <div class="card mb-4">
                            <div class="card-body">
                                <label for="Select Customer[]">Select Customer</label>
                                <select class="custom-select text-truncate" name="Select Customer[]" id="customer-select"
                                    onChange="generateShipper()" multiple>
                                    {% for items in customers %}
                                    <option value="{{items}}">{{items}}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-primary" id="generateheatchart"
                                    onclick="generateHeatChart()">Genrate Heat Chart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 shadow shipper">
                        <div class="card mb-4">
                            <div class="card-body">
                                <label for="Select_Shipper[]">Select Shipper</label>
                                <select class="custom-select text-truncate" name="Select_Shipper[]" id="shipper-select"
                                    onChange="generateReceiver()" style="height:200px;" multiple>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 shadow receiver">
                        <div class="card mb-4">
                            <div class="card-body">
                                <label for="Select_Receiver">Select Receiver</label>
                                <select class="custom-select" name="Select_Receiver"
                                    style="height:200px;" id="receiver-select">
                                    <option value=""></option>
                                </select>
                                <input id="time" type="text" name="daterange" onchange="updateArcTime()" />
                                <button type="button" class="btn btn-primary" id="generate"
                                    onclick="updateArcTime()">Run</button>
                                <button type="button" class="btn btn-outline-primary mb-2" id="generate1">Week Slider</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" style="display:none;">
            No Data Available for the selected Date Range.
        </div>

        <!-- <div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
<div class="card">
    <div class="card-body" style="padding-right: 100px;">
        <div id="map" style="height: 908;"></div>
    </div>
  </div>
</div> -->

        <div class="buttons">
            <button class="showSingle1" target="11">Map</button>
            <button class="showSingle1" target="22">Heat Chart<sup><b>Monthly</b></sup></button>
            <button class="showSingle1" target="33">Heat Chart<sup><b>Weekly</b></sup></button>
        </div>
        <div id="div11" class="targetDiv1">
            <div class="card">
                <div class="card-body" style="padding-right: 100px;">
                    <div>
                        <div id="map" style="height: 908;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div22" class="targetDiv1">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="buttons">
                            <button class="showSingle" target="1">Lanes</button>
                            <button class="showSingle" target="2">Customers</button>
                            <button class="showSingle" target="3">Shippers</button>
                            <button class="showSingle" target="4">Receviers</button>
                        </div>

                        <div id="div1" class="targetDiv">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart4"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div2" class="targetDiv">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart1"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="targetDiv">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div4" class="targetDiv">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div33" class="targetDiv1">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="buttons">
                            <button class="showSingle11" target="111">Lanes</button>
                            <button class="showSingle11" target="222">Customers</button>
                            <button class="showSingle11" target="333">Shippers</button>
                            <button class="showSingle11" target="444">Receviers</button>
                        </div>

                        <div id="div111" class="targetDiv11">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart44"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div222" class="targetDiv11">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart11"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div333" class="targetDiv11">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart22"></div>
                                </div>
                            </div>
                        </div>
                        <div id="div444" class="targetDiv11">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chart33"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body" style="padding-left: 30px;">
                <div class="row">
                    <div class="col">
                        <label for="loads_range" class="form-label">Loads Weight</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="loads_range">
                    </div>
                    <div class="col">
                        <label for="price_range" class="form-label">Customer-Rate Weight</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="price_range">
                    </div>
                    <div class="col">
                        <label for="lanes_range" class="form-label">Lanes Weight</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="lanes_range">
                    </div>
                    <div class="col">
                        <label for="shippers_range" class="form-label">Shippers Weight</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="shippers_range">
                    </div>
                </div>
                <h4>Select Customer</h4>
                <select id="similar-select" class="form-select" aria-label="Default select example">
                    {% for items in customers %}
                    <option value="{{items}}">{{items}}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" id="similar_customer" onclick="getSimilarCustomer()">Get
                    Similar Customer</button>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table100 ver1 m-b-110">
                    <table id="similar_table" data-vertable="ver1">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Customer</th>
                                <th class="column100 column2" data-column="column2">Loads[Count]</th>
                                <th class="column100 column3" data-column="column3">Customer Rate[AVG]</th>
                                <th class="column100 column4" data-column="column4">Buy Cost[AVG]</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>

    <!-- Include this library for mobile touch support  -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js">
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Daterange JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>
    <script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.min.js"></script>
    <!-- Bootstrap Multiselect JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Fontawesome JS -->
    <script src="https://kit.fontawesome.com/3dea19e7ad.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#customer-select').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                selectAllJustVisible: false,
                enableCaseInsensitiveFiltering: true,
                selectedClass: "active multiselect-active-item-fallback",
                maxHeight: 280,
                nonSelectedText: 'Select a customer',
                filterPlaceholder: 'Search for customer...',
                widthSynchronizationMode: 'ifPopupIsSmaller',
                buttonWidth: '250px',
                delimiterText: '; ',
                templates: {
                    filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="input-group-text fas fa-times"></i></button></div></div></div>',
                    button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                    popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
                }
            });

        });

        function getShipperList() {
            var arr = ['ROHM AND HAAS CHEMICALS', 'DOW C O PELICAN WAREHOUSE',
                'WEBER DISTRIBUTION RH CHEMICALS LLC',
                'RH CHEMICALS LLC', 'PLANTGISTIX'
            ];
            var cont = document.getElementById('shipper-select');

            // create ul element and set the attributes.
            var ul = document.createElement('ul');
            ul.setAttribute('id', 'shipperlist');
            ul.setAttribute('multiple', 'multiple');

            for (i = 0; i <= arr.length - 1; i++) {
                var li = document.createElement('li'); // create li element.
                li.innerHTML = arr[i]; // assigning text to li using array value.
                li.setAttribute('style', 'display: block;'); // remove the bullets.
                ul.appendChild(li); // append li to ul.
            }
            cont.appendChild(ul); // add list to the container.
        }
    </script>


    <script>
        L.Control.SliderControl = L.Control.extend({
            options: {
                position: 'topright',
                layers: null,
                timeAttribute: 'time',
                isEpoch: false, // whether the time attribute is seconds elapsed from epoch
                startTimeIdx: 0, // where to start looking for a timestring
                timeStrLength: 19, // the size of  yyyy-mm-dd hh:mm:ss - if millis are present this will be larger
                maxValue: -1,
                minValue: 0,
                showAllOnStart: false,
                markers: null,
                range: false,
                follow: false,
                sameDate: false,
                alwaysShowDate: false,
                rezoom: null
            },

            initialize: function (options) {
                L.Util.setOptions(this, options);
                this._layer = this.options.layer;

            },

            extractTimestamp: function (time, options) {
                if (options.isEpoch) {
                    time = (new Date(parseInt(time))).toString(); // this is local time
                }
                return time.substr(options.startTimeIdx, options.startTimeIdx + options.timeStrLength);
            },

            setPosition: function (position) {
                var map = this._map;

                if (map) {
                    map.removeControl(this);
                }

                this.options.position = position;

                if (map) {
                    map.addControl(this);
                }
                this.startSlider();
                return this;
            },

            onAdd: function (map) {
                this.options.map = map;

                // Create a control sliderContainer with a jquery ui slider
                var sliderContainer = L.DomUtil.create('div', 'slider', this._container);
                $(sliderContainer).append(
                    '<div id="leaflet-slider" style="width:200px"><div class="ui-slider-handle"></div><div id="slider-timestamp" style="width:200px; margin-top:13px; background-color:#FFFFFF; text-align:center; border-radius:5px;"></div></div>'
                );
                //Prevent map panning/zooming while using the slider
                $(sliderContainer).mousedown(function () {
                    map.dragging.disable();
                });
                $(document).mouseup(function () {
                    map.dragging.enable();
                    //Hide the slider timestamp if not range and option alwaysShowDate is set on false
                    if (options.range || !options.alwaysShowDate) {
                        $('#slider-timestamp').html('');
                    }
                });

                var options = this.options;
                this.options.markers = [];

                //If a layer has been provided: calculate the min and max values for the slider
                if (this._layer) {
                    var index_temp = 0;
                    this._layer.eachLayer(function (layer) {
                        options.markers[index_temp] = layer;
                        ++index_temp;
                    });
                    options.maxValue = index_temp - 1;
                    this.options = options;
                } else {
                    console.log(
                        "Error: You have to specify a layer via new SliderControl({layer: your_layer});"
                    );
                }
                return sliderContainer;
            },

            onRemove: function (map) {
                //Delete all markers which where added via the slider and remove the slider div
                for (i = this.options.minValue; i <= this.options.maxValue; i++) {
                    map.removeLayer(this.options.markers[i]);
                }
                $('#leaflet-slider').remove();

                // unbind listeners to prevent memory leaks
                $(document).off("mouseup");
                $(".slider").off("mousedown");
            },

            startSlider: function () {
                _options = this.options;
                _extractTimestamp = this.extractTimestamp
                var index_start = _options.minValue;
                if (_options.showAllOnStart) {
                    index_start = _options.maxValue;
                    if (_options.range) _options.values = [_options.minValue, _options.maxValue];
                    else _options.value = _options.maxValue;
                }
                $("#leaflet-slider").slider({
                    range: _options.range,
                    value: _options.value,
                    values: _options.values,
                    min: _options.minValue,
                    max: _options.maxValue,
                    sameDate: _options.sameDate,
                    step: 1,
                    slide: function (e, ui) {
                        var map = _options.map;
                        var fg = L.featureGroup();
                        if (!!_options.markers[ui.value]) {
                            // If there is no time property, this line has to be removed (or exchanged with a different property)
                            if (_options.markers[ui.value].feature !== undefined) {
                                if (_options.markers[ui.value].feature.properties[_options
                                        .timeAttribute]) {
                                    if (_options.markers[ui.value]) $('#slider-timestamp').html(
                                        _extractTimestamp(_options.markers[ui.value].feature
                                            .properties[_options.timeAttribute], _options));
                                } else {
                                    console.error("Time property " + _options.timeAttribute +
                                        " not found in data");
                                }
                            } else {
                                // set by leaflet Vector Layers
                                if (_options.markers[ui.value].options[_options
                                        .timeAttribute]) {
                                    if (_options.markers[ui.value]) $('#slider-timestamp').html(
                                        _extractTimestamp(_options.markers[ui.value]
                                            .options[_options.timeAttribute], _options));
                                } else {
                                    console.error("Time property " + _options.timeAttribute +
                                        " not found in data");
                                }
                            }

                            var i;
                            // clear markers
                            for (i = _options.minValue; i <= _options.maxValue; i++) {
                                if (_options.markers[i]) map.removeLayer(_options.markers[i]);
                            }
                            if (_options.range) {
                                // jquery ui using range
                                for (i = ui.values[0]; i <= ui.values[1]; i++) {
                                    if (_options.markers[i]) {
                                        map.addLayer(_options.markers[i]);
                                        fg.addLayer(_options.markers[i]);
                                    }
                                }
                            } else if (_options.follow) {
                                for (i = ui.value - _options.follow + 1; i <= ui.value; i++) {
                                    if (_options.markers[i]) {
                                        map.addLayer(_options.markers[i]);
                                        fg.addLayer(_options.markers[i]);
                                    }
                                }
                            } else if (_options.sameDate) {
                                var currentTime;
                                if (_options.markers[ui.value].feature !== undefined) {
                                    currentTime = _options.markers[ui.value].feature.properties
                                        .time;
                                } else {
                                    currentTime = _options.markers[ui.value].options.time;
                                }
                                for (i = _options.minValue; i <= _options.maxValue; i++) {
                                    if (_options.markers[i].options.time == currentTime) map
                                        .addLayer(_options.markers[i]);
                                }
                            } else {
                                for (i = _options.minValue; i <= ui.value; i++) {
                                    if (_options.markers[i]) {
                                        map.addLayer(_options.markers[i]);
                                        fg.addLayer(_options.markers[i]);
                                    }
                                }
                            }
                        };
                        if (_options.rezoom) {
                            map.fitBounds(fg.getBounds(), {
                                maxZoom: _options.rezoom
                            });
                        }
                    }
                });
                if (!_options.range && _options.alwaysShowDate) {
                    $('#slider-timestamp').html(_extractTimeStamp(_options.markers[index_start].feature
                        .properties[_options.timeAttribute], _options));
                }
                for (i = _options.minValue; i <= index_start; i++) {
                    _options.map.addLayer(_options.markers[i]);
                }
            }
        });

        L.control.sliderControl = function (options) {
            return new L.Control.SliderControl(options);
        };
    </script>
    <script>
        ///// FIXME: Use path._rings instead of path._latlngs???
        ///// FIXME: Panic if this._map doesn't exist when called.
        ///// FIXME: Implement snakeOut()
        ///// FIXME: Implement layerGroup.snakeIn() / Out()


        L.Polyline.include({

            // Hi-res timestamp indicating when the last calculations for vertices and
            // distance took place.
            _snakingTimestamp: 0,

            // How many rings and vertices we've already visited
            // Yeah, yeah, "rings" semantically only apply to polygons, but L.Polyline
            // internally uses that nomenclature.
            _snakingRings: 0,
            _snakingVertices: 0,

            // Distance to draw (in screen pixels) since the last vertex
            _snakingDistance: 0,

            // Flag
            _snaking: false,


            /// TODO: accept a 'map' parameter, fall back to addTo() in case
            /// performance.now is not available.
            snakeIn: function () {

                if (this._snaking) {
                    return;
                }

                if (!('performance' in window) ||
                    !('now' in window.performance) ||
                    !this._map) {
                    return;
                }

                this._snaking = true;
                this._snakingTime = performance.now();
                this._snakingVertices = this._snakingRings = this._snakingDistance = 0;

                if (!this._snakeLatLngs) {
                    this._snakeLatLngs = L.LineUtil.isFlat(this._latlngs) ? [this._latlngs] :
                        this._latlngs;
                }

                // Init with just the first (0th) vertex in a new ring
                // Twice because the first thing that this._snake is is chop the head.
                this._latlngs = [
                    [this._snakeLatLngs[0][0], this._snakeLatLngs[0][0]]
                ];

                this._update();
                this._snake();
                this.fire('snakestart');
                return this;
            },


            _snake: function () {

                var now = performance.now();
                var diff = now - this._snakingTime; // In milliseconds
                var forward = diff * this.options.snakingSpeed / 1000; // In pixels
                this._snakingTime = now;

                // Chop the head from the previous frame
                this._latlngs[this._snakingRings].pop();

                return this._snakeForward(forward);
            },

            _snakeForward: function (forward) {

                // If polyline has been removed from the map stop _snakeForward
                if (!this._map) return;
                // Calculate distance from current vertex to next vertex
                var currPoint = this._map.latLngToContainerPoint(
                    this._snakeLatLngs[this._snakingRings][this._snakingVertices]);
                var nextPoint = this._map.latLngToContainerPoint(
                    this._snakeLatLngs[this._snakingRings][this._snakingVertices + 1]);

                var distance = currPoint.distanceTo(nextPoint);

                // 		console.log('Distance to next point:', distance, '; Now at: ', this._snakingDistance, '; Must travel forward:', forward);
                // 		console.log('Vertices: ', this._latlngs);

                if (this._snakingDistance + forward > distance) {
                    // Jump to next vertex
                    this._snakingVertices++;
                    this._latlngs[this._snakingRings].push(this._snakeLatLngs[this._snakingRings][this
                        ._snakingVertices
                    ]);

                    if (this._snakingVertices >= this._snakeLatLngs[this._snakingRings].length - 1) {
                        if (this._snakingRings >= this._snakeLatLngs.length - 1) {
                            return this._snakeEnd();
                        } else {
                            this._snakingVertices = 0;
                            this._snakingRings++;
                            this._latlngs[this._snakingRings] = [
                                this._snakeLatLngs[this._snakingRings][this._snakingVertices]
                            ];
                        }
                    }

                    this._snakingDistance -= distance;
                    return this._snakeForward(forward);
                }

                this._snakingDistance += forward;

                var percent = this._snakingDistance / distance;

                var headPoint = nextPoint.multiplyBy(percent).add(
                    currPoint.multiplyBy(1 - percent)
                );

                // Put a new head in place.
                var headLatLng = this._map.containerPointToLatLng(headPoint);
                this._latlngs[this._snakingRings].push(headLatLng);

                this.setLatLngs(this._latlngs);
                this.fire('snake');
                L.Util.requestAnimFrame(this._snake, this);
            },

            _snakeEnd: function () {

                this.setLatLngs(this._snakeLatLngs);
                this._snaking = false;
                this.fire('snakeend');

            }

        });


        L.Polyline.mergeOptions({
            snakingSpeed: 200 // In pixels/sec
        });





        L.LayerGroup.include({

            _snakingLayers: [],
            _snakingLayersDone: 0,

            snakeIn: function () {

                if (!('performance' in window) ||
                    !('now' in window.performance) ||
                    !this._map ||
                    this._snaking) {
                    return;
                }


                this._snaking = true;
                this._snakingLayers = [];
                this._snakingLayersDone = 0;
                var keys = Object.keys(this._layers);
                for (var i in keys) {
                    var key = keys[i];
                    this._snakingLayers.push(this._layers[key]);
                }
                this.clearLayers();

                this.fire('snakestart');
                return this._snakeNext();
            },


            _snakeNext: function () {


                if (this._snakingLayersDone >= this._snakingLayers.length) {
                    this.fire('snakeend');
                    this._snaking = false;
                    return;
                }

                var currentLayer = this._snakingLayers[this._snakingLayersDone];

                this._snakingLayersDone++;

                this.addLayer(currentLayer);
                if ('snakeIn' in currentLayer) {
                    currentLayer.once('snakeend', function () {
                        setTimeout(this._snakeNext.bind(this), this.options.snakingPause);
                    }, this);
                    currentLayer.snakeIn();
                } else {
                    setTimeout(this._snakeNext.bind(this), this.options.snakingPause);
                }


                this.fire('snake');
                return this;
            }

        });


        L.LayerGroup.mergeOptions({
            snakingPause: 200
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#customer-select').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                selectAllJustVisible: false,
                enableCaseInsensitiveFiltering: true,
                maxHeight: 450
                // buttonWidth: '100px'
            });
        });
    </script>
    <script>
        (function ($) {
            "use strict";
            $('.column100').on('mouseover', function () {
                var table1 = $(this).parent().parent().parent();
                var table2 = $(this).parent().parent();
                var verTable = $(table1).data('vertable') + "";
                var column = $(this).data('column') + "";

                $(table2).find("." + column).addClass('hov-column-' + verTable);
                $(table1).find(".row100.head ." + column).addClass('hov-column-head-' + verTable);
            });

            $('.column100').on('mouseout', function () {
                var table1 = $(this).parent().parent().parent();
                var table2 = $(this).parent().parent();
                var verTable = $(table1).data('vertable') + "";
                var column = $(this).data('column') + "";

                $(table2).find("." + column).removeClass('hov-column-' + verTable);
                $(table1).find(".row100.head ." + column).removeClass('hov-column-head-' + verTable);
            });

        })(jQuery);
    </script>

    <script>
        function getSimilarCustomer() {
            var customer_sim = document.getElementById("similar-select").value;
            var loads_val = document.getElementById("loads_range").value;
            var price_range = document.getElementById("price_range").value;
            var lanes_range = document.getElementById("lanes_range").value;
            var shippers_range = document.getElementById("shippers_range").value;
            $.ajax({
                url: "{% url 'similar_lanes' %}",
                type: "get", //send it through get method
                data: {
                    customer: customer_sim,
                    loads_val: loads_val,
                    price_range: price_range,
                    lanes_range: lanes_range,
                    shippers_range: shippers_range
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var similar_customerz = response.data;
                        var loads = similar_customerz;
                        var tbodyRef = document.getElementById('similar_table').getElementsByTagName(
                            'tbody')[0];
                        // Insert a row at the end of table
                        tbodyRef.innerHTML = '';
                        var i;
                        for (i = 0; i < loads.length; i++) {
                            var newRow = tbodyRef.insertRow();
                            newRow.className = "row100";
                            newRow.innerHTML += '<td class="column100 column1" data-column="column1">' +
                                loads[i][0] + '</td>\
                              <td class="column100 column2" data-column="column2">' + loads[i][1] + '</td>\
                              <td class="column100 column3" data-column="column3">' + loads[i][2] + '</td>\
                              <td class="column100 column4" data-column="column4">' + loads[i][3] + '</td>';
                        }

                        // Object.entries(loads).forEach(([key, value]) => {
                        //   console.log(key, value);
                        // });

                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

        }
    </script>


    <script>
        $('.targetDiv').hide();
        $('.targetDiv').first().show();
        $('.showSingle').click(function () {
            $('.targetDiv').hide();
            $('.showSingle').removeClass('selected');
            $('#div' + $(this).attr('target')).show();
            $(this).addClass('selected');
        });
        $('.targetDiv1').hide();
        $('.targetDiv1').first().show();
        $('.showSingle1').click(function () {
            $('.targetDiv1').hide();
            $('.showSingle1').removeClass('selected');
            $('#div' + $(this).attr('target')).show();
            $(this).addClass('selected');
        });

        $('.targetDiv11').hide();
        $('.targetDiv11').first().show();
        $('.showSingle11').click(function () {
            $('.targetDiv11').hide();
            $('.showSingle11').removeClass('selected');
            $('#div' + $(this).attr('target')).show();
            $(this).addClass('selected');
        });


        function generateHeatChart() {
            var cust = $('#customer-select').val();
            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'customer'
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart1"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'shipper'
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart2"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'receiver'
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart3"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'travel_data'
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart4"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });
            var cust = $('#customer-select').val();
            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'customer',
                    week_month: "year_week_str"
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart11"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'shipper',
                    week_month: "year_week_str"
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart22"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'receiver',
                    week_month: "year_week_str"
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart33"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "{% url 'just_map_v9_heat_chart' %}",
                type: "get", //send it through get method
                data: {
                    customer: cust,
                    selector0: 'travel_data',
                    week_month: "year_week_str"
                },
                success: function (response) {
                    if (!response.error[0]) {
                        $('.alert').hide();
                        var heat_series = response.heat_series;
                        var colorscale = response.colorscale;
                        var xaxis_vals = response.xaxis;
                        var options = {
                            series: heat_series,
                            chart: {
                                height: 650,
                                type: 'heatmap',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        console.log(chartContext, config);
                                        var el = event.target;
                                        var seriesIndex = parseInt(el.getAttribute("i"));
                                        var dataPointIndex = parseInt(el.getAttribute("j"));
                                        var seriesName = config.globals.seriesNames[seriesIndex];
                                        console.log(seriesName, el);
                                    }
                                },
                            },
                            plotOptions: {
                                heatmap: {
                                    shadeIntensity: 0.5,
                                    radius: 0,
                                    useFillColorAsStroke: true,
                                    colorScale: {
                                        ranges: colorscale
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                width: 1
                            },
                            xaxis: {
                                type: 'category',
                                categories: xaxis_vals
                            },
                            // yaxis: {
                            //     show: false,
                            // },
                            grid: {
                                padding: {
                                    left: 0,
                                    right: 0
                                }
                            },
                            title: {
                                text: 'HeatMap Chart with Color Range'
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#chart44"), options);
                        chart.render();
                    } else {
                        $('.alert').show();
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    console.log(xhr);
                }
            });

        }
    </script>


    <script>
        var first = true;
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' +
                    end.format('YYYY-MM-DD'));
            });
        });

        var colors = [
            // "#ffffff",
            "#fcff94",
            "#f1a692",
            // "#fabe8c",
            "#e0769e",
            "#9a5caf",
            "#4b4ba5",
            // "#000000",
        ];
        var colorScale2_ = chroma.scale(colors).domain([0, 1]).mode('lab').correctLightness();

        var colorScale = function (value) {
            const color = colorScale2_(value);
            return color;
        };

        var sliderControl = null;

        var map = L.map('map').setView([38.653737, -100.148994], 5);

        // load a tile layer
        var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 16,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
        }).addTo(map);

        function generateShipper() {
            var cust = $('#customer-select').val();
            var select1 = document.getElementById("customer-select");
            var select2 = document.getElementById("shipper-select");
            if (select2.options.length > 0) {
                while (select2.options.length > 0) {
                    select2.remove(0);
                }
            }
            select2 = document.getElementById("shipper-select");
            option = document.createElement("option");
            option.text = "ALL";
            select2.add(option);
            $.ajax({
                url: "{% url 'just_map_v5_shipper_api' %}",
                type: "get",
                data: {
                    customer: cust
                },
                success: function (response) {
                    var shippers = response.shippers;
                    select2 = document.getElementById("shipper-select");
                    for (var k = 0; k < shippers.length; k++) {
                        var option2 = document.createElement("option"),
                            txt = document.createTextNode(shippers[k][1]);
                        option2.appendChild(txt);
                        option2.setAttribute("value", shippers[k][0]);
                        select2.insertBefore(option2, select2.lastChild);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function generateReceiver() {
            var cust = $('#customer-select').val();
            var ship = $('#shipper-select').val();
            var select1 = document.getElementById("customer-select");
            var select2 = document.getElementById("shipper-select");
            var select3 = document.getElementById("receiver-select");
            if (select3.options.length > 0) {
                while (select3.options.length > 0) {
                    select3.remove(0);
                }
            }
            select3 = document.getElementById("receiver-select");
            option = document.createElement("option");
            option.text = "ALL";
            select3.add(option);
            $.ajax({
                url: "{% url 'just_map_v5_receiver_api' %}",
                type: "get",
                data: {
                    customer: cust,
                    shipper: ship
                },
                success: function (response) {
                    var receivers = response.receivers;
                    select3 = document.getElementById("receiver-select");
                    for (var k = 0; k < receivers.length; k++) {
                        var option3 = document.createElement("option"),
                            txt = document.createTextNode(receivers[k][1]);
                        option3.appendChild(txt);
                        option3.setAttribute("value", receivers[k][0]);
                        select3.insertBefore(option3, select3.lastChild);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }


        function clearMap() {
            for (i in map._layers) {
                console.log(map._layers[i]);
                try {
                    map.removeLayer(map._layers[i]);
                } catch (error) {
                    console.log(error);
                }

            }
        }
        // var arc_group = L.featureGroup();
        var arc;
        document.getElementById('generate1').onclick = function () {
            if (!first) {

                var select1 = document.getElementById("customer-select");
                var select2 = document.getElementById("shipper-select");
                var select3 = document.getElementById("receiver-select");
                var cust = $('#customer-select').val();
                var ship = $('#shipper-select').val();
                var recv = $('#receiver-select').val();
                var time = document.getElementById("time").value;
                map.eachLayer(function (layer) {
                    if (!layer._url) {
                        map.removeLayer(layer);
                    }
                });

                $.ajax({
                    url: "{% url 'just_map_v8_slider' %}",
                    type: "get", //send it through get method
                    data: {
                        customer: cust,
                        shipper: ship,
                        receiver: select3.value,
                        times: time
                    },
                    success: function (response) {
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heats = response.data;
                            var shipperz = response.shippers;
                            var receiverz = response.receivers;
                            var polylines = [];
                            var polyline;
                            heats.forEach(function (item, index) {
                                try {
                                    var pointA = new L.LatLng(item[0][0], item[0][1]);
                                    var pointB = new L.LatLng(item[1][0], item[1][1]);
                                    var pointList = [pointA, pointB];

                                    polyline = new L.Polyline(pointList, {
                                        time: item[5],
                                        color: item[3],
                                        weight: item[2],
                                        opacity: 0.5,
                                        smoothFactor: 1
                                    });

                                    // popUp='<table style="width:100%">\
                                    //   <tr>\
                                    //     <th>Origin City</th>\
                                    //     <th>Destination City</th>\
                                    //     <th>Standard Van 53</th>\
                                    //     <th>Standard Reefer 53</th>\
                                    //     <th>Standard Van 48</th>\
                                    //     <th>Standard Reefer 48</th>\
                                    //   </tr>\
                                    //   <tr>\
                                    //     <td>'+item[4][0]['origin_data']+'</td>\
                                    //     <td>'+item[4][0]['destination_data']+'</td>\
                                    //     <td>'+item[4][0]['Standard Van 53']+'</td>\
                                    //     <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                    //     <td>'+item[4][0]['Standard Van 48']+'</td>\
                                    //     <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                                    //   </tr>\
                                    // </table>';
                                    // polyline.bindTooltip(popUp);
                                    polylines.push(polyline);
                                } catch (err) {
                                    console.log(err);
                                }
                            });
                            var layerGroup = L.layerGroup(polylines);
                            var sliderControl = L.control.sliderControl({
                                layer: layerGroup
                            });
                            map.addControl(sliderControl);
                            sliderControl.startSlider();
                        } else {
                            $('.alert').show();
                        }


                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        console.log(xhr);
                    }
                });

            }
            first = false;
        }

        function updateArcTime() {
            if (!first) {
                window.scrollBy(0, 120);
                var select1 = document.getElementById("customer-select");
                var select2 = document.getElementById("shipper-select");
                var select3 = document.getElementById("receiver-select");
                var cust = $('#customer-select').val();
                var ship = $('#shipper-select').val();
                var recv = $('#receiver-select').val();
                var time = document.getElementById("time").value;
                map.eachLayer(function (layer) {
                    if (!layer._url) {
                        map.removeLayer(layer);
                    }
                });

                $.ajax({
                    url: "{% url 'just_map_v5_time_api' %}",
                    type: "get", //send it through get method
                    data: {
                        customer: cust,
                        shipper: ship,
                        receiver: select3.value,
                        times: time
                    },
                    success: function (response) {
                        console.log(response.error[0]);
                        if (!response.error[0]) {
                            $('.alert').hide();
                            var heats = response.data;
                            var shipperz = response.shippers;
                            var receiverz = response.receivers;
                            heats.forEach(function (item, index) {
                                try {
                                    // var arrow = L.polyline([item[0],
                                    // item[1]], {color: item[3],
                                    //         vertices: 200 ,
                                    //         weight: item[2],
                                    //         opacity: 0.5}).addTo(map);//.addTo(map);
                                    // var arrowHead = L.polylineDecorator(arrow, {
                                    //     patterns: [
                                    //         {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 5, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                                    //     ]
                                    // }).addTo(map);//.addTo(map);
                                    // var arrow = L.polyline([item[0],
                                    // item[1]], {color: item[3],
                                    //         vertices: 200 ,
                                    //         weight: item[2],
                                    //         opacity: 0.5})
                                    var line = L.polyline([item[0],
                                        item[1]
                                    ], {
                                        color: item[3],
                                        vertices: 200,
                                        weight: item[2],
                                        opacity: 0.5,
                                        snakingSpeed: 150
                                    });

                                    popUp = '<table style="width:100%">\
                                    <tr>\
                                        <th>Origin City</th>\
                                        <th>Destination City</th>\
                                        <th>Standard Van 53</th>\
                                        <th>Standard Reefer 53</th>\
                                        <th>Standard Van 48</th>\
                                        <th>Standard Reefer 48</th>\
                                    </tr>\
                                    <tr>\
                                        <td>' + item[4][0]['origin_data'] + '</td>\
                                        <td>' + item[4][0]['destination_data'] + '</td>\
                                        <td>' + item[4][0]['Standard Van 53'] + '</td>\
                                        <td>' + item[4][0]['Standard Reefer 53'] + '</td>\
                                        <td>' + item[4][0]['Standard Van 48'] + '</td>\
                                        <td>' + item[4][0]['Standard Reefer 48'] + '</td>\
                                    </tr>\
                                    </table>';
                                    // tmp1=arrow.bindTooltip(popUp);
                                    // tmp1.addTo(arc_group);
                                    // tmp1.openPopup();
                                    // tmp1=arrowHead.bindTooltip(popUp);
                                    // tmp1.addTo(arc_group);
                                    // tmp1.openPopup();
                                    line.bindTooltip(popUp);
                                    // arrowHead.bindTooltip(popUp);
                                    line.addTo(map).snakeIn();
                                } catch (err) {
                                    console.log(err);
                                }
                            });
                            $.ajax({
                                url: "{% url 'just_map_v5_heat_api' %}",
                                type: "get", //send it through get method
                                data: {
                                    customer: cust,
                                    shipper: ship,
                                    receiver: select3.value,
                                    times: time
                                },
                                success: function (response) {
                                    var heat_r = response.receiver;
                                    var heatr = L.heatLayer(heat_r, {
                                        radius: 30
                                    });
                                    //map.addLayer(heatr);
                                    heatr.addTo(map);
                                    var heat_s = response.shipper;
                                    var heats = L.heatLayer(heat_s, {
                                        radius: 30
                                    });
                                    //map.addLayer(heatr);
                                    heats.addTo(map);
                                },
                                error: function (xhr) {
                                    //Do Something to handle error
                                    console.log(xhr);
                                }
                            });
                        } else {
                            $('.alert').show();
                        }

                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        console.log(xhr);
                    }
                });

            }
            first = false;
        }
    </script>
</body>

</html>