{% load static %}
<html>
<head>
  <title>DAT Data</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <style>
    #map{ height: 100% }
  </style>
  <style>
    :root {
  --primary-color: #435fda;
  --secondary-color: #d8415c;
  --body-font-size: 16px;
  --line-height: 1.5;
  --content-width: 480px;
  --background-color: #fff;
  --background-color-secondary: #f8f8f9;
  --text-color: #060914;
  --text-color--muted: #71737f;
  --line-color: #ededef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #657bdb;
    --primary-color--translucent: rgba(85, 106, 195, 0.3);
    --secondary-color: #d93d59;
    --background-color: #060913;
    --background-color-secondary: #0f1424;
    --text-color: #e4e4e7;
    --text-color--muted: #838690;
    --line-color: #303341;
  }
}

html {
  font-size: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: "Geomanist", sans-serif;
  font-size: var(--body-font-size);
  line-height: var(--line-height);
  padding: .5em .5em 2em .5em;
  margin: 0;
}

.wrapper {
  max-width: var(--content-width);
  margin: calc(var(--line-height) * .5em) auto 0 auto;
}

.results {
  margin-top: .5em;
  text-align: center;
}

.results > div {
  margin-bottom: .5em;
}

@media (min-width: 440px) {
  :root {
    --body-font-size: 18px;
    --line-height: 1.5;
  }

  .results {
    margin: 2em 1em 0 2em;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
  }
  .results > div {
    margin-bottom: 0;
  }
}

.choose-gender {
  display: flex;
  align-items: stretch;
  margin-bottom: 2em;
}

.segmented-control {
  flex: 1;
  text-align: center;
  line-height: 2em;
  border: 1px solid var(--line-color);
}

.segmented-control:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.segmented-control:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.results {
  color: var(--text-color--muted);
}

.results span {
  font-weight: 500;
  color: var(--text-color);
}

/* The crazy stuff that needs to be here for the custom input styling */
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  transition: all 0.265ms ease-out;
}

input[type="range"]:not(:last-of-type) {
  margin-top: 0;
  margin-bottom: 2.5em;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--line-color);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 8px 1px var(--secondary-color),
    0 0 16px 4px var(--background-color);
  border: 3px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  display: none;
}

.segmented-control input[type="radio"] + label {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  color: var(--text-color--muted);
}

.segmented-control input[type="radio"]:checked + label {
  background-color: var(--line-color);
  width: 100%;
  height: 100%;
  display: block;
  color: var(--text-color);
}

.segmented-control input[type="radio"]:focus + label {
  border: 1px solid var(--secondary-color);
}

.segmented-control:first-child input[type="radio"]:checked + label {
  border-radius: 0.5em 0 0 0.5em;
}

.segmented-control:last-child input[type="radio"]:checked + label {
  border-radius: 0 0.5em 0.5em 0;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--line-color);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 8px 1px var(--secondary-color),
    0 0 16px 4px var(--background-color);
  border: 3px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

</style>
</head>
<body>
<div class="row">
    <div class="col">
      <h4>Select Customer</h4>
      <select class="browser-default custom-select" name="Select Customer[]" id="customer-select" onChange="generateShipper()" style="height:200px;" multiple>
        {% for items in customers %}
            <option value="{{items}}">{{items}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <h4>Select Shipper</h4>
      <select class="browser-default custom-select" name="Select_Shipper[]" id="shipper-select" onChange="generateReceiver()"  style="height:200px;" multiple>
        
        <option value=""></option>
      </select>
    </div>
    <div class="col">
      <h4>Select Receiver</h4>
      <select class="browser-default custom-select" name="Select_Receiver"  style="height:200px;" id="receiver-select">
        <option value=""></option>
      </select>
      <input id="time" type="text" name="daterange" onchange="updateArcTime()"/>
      <button id="generate">Run</button>
    </div>
</div>

<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
<div id="map" style="height: 908;"></div>

</div>
<table>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
</table>

<div id="week_month_year">
    <div id="year">
        <input type="radio" id="2021" name="2021" value="2021">
        <label for="2021">2021</label><br>
        <input type="radio" id="2020" name="2020" value="2020" checked>
        <label for="2020">2020</label><br>
        <input type="radio" id="2019" name="2019" value="2019">
        <label for="2019">2019</label>
    </div>
    <div id="week_month">
        <input type="radio" id="Week" name="Week" value="Week" checked>
        <label for="Week">Week</label><br>
        <input type="radio" id="Month" name="Month" value="Month">
        <label for="Month">Month</label><br>
    </div>
    <label for="range_slider" id="range_slider_value">range: 25</label>
    <input id="range_slider" type="range" value="25" min="13" max="100">
</div>

<div id="bmr-calculator" class="wrapper">
    <div class="calculator">
      <div class="choose-gender">
      <div class="segmented-control" id="segment-control1"><input id="calc-gender-month" type="radio" name="gender" value="male" checked=""><label for="calc-gender-month">Month</label></div>
        <div class="segmented-control" id="segmwnted">
      <input id="calc-gender-week" type="radio" name="gender" value="female"><label for="calc-gender-week">Week</label></div>
      </div>
      <label for="calc-age" id="calc-age_value">range: 25</label>
      <input id="calc-age" type="range" value="25" min="13" max="100">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var years = document.getElementsByName('year');
var year_value;
for(var i = 0; i < years.length; i++){
    if(years[i].checked){
        year_value = years[i].value;
    }
}
var week_months = document.getElementsByName('week_month');
var week_month_value;
for(var i = 0; i < week_months.length; i++){
    if(week_months[i].checked){
        week_month_value = week_months[i].value;
    }
}
$.ajax({
        url: "{% url 'just_map_get_slider_values' %}",
        type: "get",
        data: { year: year_value, week_month: week_month_value} ,
        success: function(response) {
        var sliders= response.sliders;
        var result = sliders.map(function (x) { 
            return parseInt(x, 10); 
            });
        var input = document.getElementById("range_slider_value");
        input.setAttribute("min", Math.min(result));
        input.setAttribute("max", Math.max(result));
        },
        error: function(xhr) {
        console.log(xhr);
        }
});
function getWeeksMonths() {
    var years = document.getElementsByName('year');
    var year_value;
    for(var i = 0; i < years.length; i++){
        if(years[i].checked){
            year_value = years[i].value;
        }
    }
    var week_months = document.getElementsByName('week_month');
    var week_month_value;
    for(var i = 0; i < week_months.length; i++){
        if(week_months[i].checked){
            week_month_value = week_months[i].value;
        }
    }
    $.ajax({
          url: "{% url 'just_map_get_slider_values' %}",
          type: "get",
          data: { year: year_value, week_month: week_month_value} ,
          success: function(response) {
            var sliders= response.sliders;
            var result = sliders.map(function (x) { 
                return parseInt(x, 10); 
                });
            var input = document.getElementById("range_slider_value");
            input.setAttribute("min", Math.min(result));
            input.setAttribute("max", Math.max(result));
          },
          error: function(xhr) {
            console.log(xhr);
          }
    });
}

</script>
<script>
    function myFunction(x) {
        alert("Row index is: " + x);
    }
</script>



<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script> -->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
 <!-- <script src='https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script> -->
  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->

  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->
<script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
<script src="{% static 'js/SliderControl.js' %}"></script>
  <script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
  // initialize the map
  var map = L.map('map').setView([41.25861, -95.9375], 6);
 var colors = [
  // "#ffffff",
  "#fcff94",
  "#f1a692",
  // "#fabe8c",
  "#e0769e",
  "#9a5caf",
  "#4b4ba5",
  // "#000000",
];
var colorScale2_ = chroma.scale(colors).domain([0, 1]).mode('lab').correctLightness();

var colorScale = function (value) {
  const color = colorScale2_(value);
  return color;
};
  // load a tile layer
  var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 16,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
  }).addTo(map);

function generateShipper() {
      var cust = $('#customer-select').val();
      var select1 = document.getElementById("customer-select");
      var select2 = document.getElementById("shipper-select");
      if(select2.options.length > 0) {
        while (select2.options.length>0) {
          select2.remove(0);
          }
        }
      select2 = document.getElementById("shipper-select");
      option = document.createElement("option");
      option.text = "ALL";
      select2.add(option);
      $.ajax({
          url: "{% url 'just_map_v5_shipper_api' %}",
          type: "get",
          data: { customer: cust} ,
          success: function(response) {
            var shippers= response.shippers;
            select2 = document.getElementById("shipper-select");
            for(var k = 0; k < shippers.length; k++)
             {
               var option2 = document.createElement("option"),
                   txt = document.createTextNode(shippers[k][1]);
               option2.appendChild(txt);
               option2.setAttribute("value",shippers[k][0]);
               select2.insertBefore(option2,select2.lastChild);
             }
          },
          error: function(xhr) {
            console.log(xhr);
          }
    });
}

function generateReceiver() {
      var cust = $('#customer-select').val();
      var ship = $('#shipper-select').val();
      var select1 = document.getElementById("customer-select");
      var select2 = document.getElementById("shipper-select");
      var select3 = document.getElementById("receiver-select");
      if(select3.options.length > 0) {
        while (select3.options.length>0) {
          select3.remove(0);
          }
        }
      select3 = document.getElementById("receiver-select");
      option = document.createElement("option");
      option.text = "ALL";
      select3.add(option);
      $.ajax({
          url: "{% url 'just_map_v5_receiver_api' %}",
          type: "get",
          data: { customer: cust, shipper: ship} ,
          success: function(response) {
            var receivers= response.receivers;
            select3 = document.getElementById("receiver-select");
            for(var k = 0; k < receivers.length; k++)
             {
               var option3 = document.createElement("option"),
                   txt = document.createTextNode(receivers[k][1]);
               option3.appendChild(txt);
               option3.setAttribute("value",receivers[k][0]);
               select3.insertBefore(option3,select3.lastChild);
             }
          },
          error: function(xhr) {
            console.log(xhr);
          }
    });
}


function clearMap(){
    for(i in map._layers){
      console.log(map._layers[i]);
      try{map.removeLayer(map._layers[i]);}
      catch(error){console.log(error);}
      
    }
}
// var arc_group = L.featureGroup();
var arc;
document.getElementById('generate').onclick = function() {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var cust = $('#customer-select').val();
    var ship = $('#shipper-select').val();
    var recv = $('#receiver-select').val();
    map.eachLayer(function (layer) {
      if (!layer._url) {
        map.removeLayer(layer);
      }
    });

    $.ajax({
          url: "{% url 'just_map_v5_api' %}",
          type: "get", //send it through get method
          data: { customer: cust, shipper:ship,
           receiver:select3.value} ,
          success: function(response) {
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5}).addTo(map);//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 5, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      }).addTo(map);//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      // tmp1=arrow.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      // tmp1=arrowHead.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      arrow.bindTooltip(popUp);
                      arrowHead.bindTooltip(popUp);
                  }
                  catch(err) {
                    console.log(err);
                  }
                });
                $.ajax({
                        url: "{% url 'just_map_v5_heat_api' %}",
                        type: "get", //send it through get method
                        data: {customer: cust, shipper:ship,
                                receiver:select3.value} ,
                        success: function(response) {
                            var heat_r = response.receiver;
                            var heatr = L.heatLayer(heat_r, { radius: 30 });
                            //map.addLayer(heatr);
                            heatr.addTo(map);
                            var heat_s = response.shipper;
                            var heats = L.heatLayer(heat_s, { radius: 30 });
                            //map.addLayer(heatr);
                            heats.addTo(map);
                        },
                        error: function(xhr) {
                        //Do Something to handle error
                            console.log(xhr);
                        }
                    });
              },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });

} 

function updateArcTime() {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var cust = $('#customer-select').val();
    var ship = $('#shipper-select').val();
    var recv = $('#receiver-select').val();
    var time= document.getElementById("time").value;
    map.eachLayer(function (layer) {
      if (!layer._url) {
        map.removeLayer(layer);
      }
    });

    $.ajax({
          url: "{% url 'just_map_v5_time_api' %}",
          type: "get", //send it through get method
          data: { customer: cust, shipper:ship,
           receiver:select3.value,times:time} ,
          success: function(response) {
                console.log("passed");
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5}).addTo(map);//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 5, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      }).addTo(map);//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      // tmp1=arrow.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      // tmp1=arrowHead.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      arrow.bindTooltip(popUp);
                      arrowHead.bindTooltip(popUp);
                  }
                  catch(err) {
                    console.log(err);
                  }
                });
                $.ajax({
                        url: "{% url 'just_map_v5_heat_api' %}",
                        type: "get", //send it through get method
                        data: {customer: cust, shipper:ship,
                                receiver:select3.value,times:time} ,
                        success: function(response) {
                            var heat_r = response.receiver;
                            var heatr = L.heatLayer(heat_r, { radius: 30 });
                            //map.addLayer(heatr);
                            heatr.addTo(map);
                            var heat_s = response.shipper;
                            var heats = L.heatLayer(heat_s, { radius: 30 });
                            //map.addLayer(heatr);
                            heats.addTo(map);
                        },
                        error: function(xhr) {
                        //Do Something to handle error
                            console.log(xhr);
                        }
                    });
                },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });

}

document.getElementById("segment-control1").onclick = function () {
    var input = document.getElementById("calc-age");
    console.log(input.value)
    input.setAttribute("min", 1);
    input.setAttribute("max", 12);

}
document.getElementById("calc-gender-week").onclick = function (){
    var input = document.getElementById("calc-age");
    console.log(input.value)
    input.setAttribute("min", 1);
    input.setAttribute("max", 53);
}
document.getElementById('calc-age').onchange = function() {
    var input = document.getElementById("calc-age");
    console.log(input.value)
}


function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
var all_dest;
function onEachFeature (feature, layer) {

    layer.on('mouseover', function (e) {
        var popuptext = `<p><table>
        <tr><td><em>Records in area</em></td><td><strong>: ${feature.properties.name}</strong></td></tr>
    </table></p>`;
      layer.bindPopup(popuptext);
      this.openPopup();
      });
    layer.on('click', function (e) {

      this.openPopup();

      var name = `${feature.properties.name}`;

    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    try{
      map.removeLayer(arc_group);
    }
    catch(err){
      console.log(err);
    }
    
    $.ajax({
          url: "{% url 'just_map_v4_api' %}",
          type: "get", //send it through get method
          data: { customer: select1.value, shipper:select2.value,
           receiver:select3.value,
            name: name} ,
          success: function(response) {
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5});//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      });//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      tmp1=arrow.bindTooltip(popUp);
                      tmp1.addTo(arc_group);
                      tmp1.openPopup();
                      tmp1=arrowHead.bindTooltip(popUp);
                      tmp1.addTo(arc_group);
                      tmp1.openPopup();

                  }
                  catch(err) {
                    console.log(err);
                  }
                });
              },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });
        map.addLayer(arc_group);
      });

    layer.on('mouseout', function (e) {
          this.closePopup();
      });

  }

// var locations={{feats|safe}};
// var layer = L.geoJson(false, {
//   onEachFeature: onEachFeature
// }).addTo(map);  
// function attivita_style (feature, layer) {
//       const color = colorScale(feature.properties.pop);
//       return {
//       "color":  color,
//       "weight": 5,
//       }
//     }
// // clearMap();
// // layer.clearLayers();
// layer.addData(locations).setStyle(attivita_style);
  </script>
</body>
</html>